<%- include('../includes/head.ejs') %>
</head>

<body class="login-page">
    <main>
        <div class="container" style="margin-top: 10rem;">
            <div class="row justify-content-center align-items-center">
                <div class="card" style="width: 40rem;">
                    <div class="card-body">
                        <div class="row justify-content-center align-items-center" style="margin-bottom: 2rem;">
                            <h1 class="display-3">Портал F1-Service</h1>
                        </div>
                        <%- include('../includes/alert_messages.ejs') %>
                        <div class="row">
                            <div class="col-sm">
                                <form action="/login" method="POST">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input required type="email" class="form-control" id="email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Пароль</label>
                                        <input required type="password" class="form-control" id="password"
                                            name="password">
                                    </div>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="form-group">
                                        <a href="/reset">Забыли пароль?</a>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Войти</button>
                                        <a href="/signup" class="btn btn-primary">Зарегистрироваться</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>