<%- include('../includes/head.ejs') %>
</head>

<body>
    <main>
        <div class="container" style="margin-top: 10rem;">
            <div class="row justify-content-center align-items-center">
                <div class="card" style="width: 40rem;">
                    <div class="card-body">                        
                        <%- include('../includes/alert_messages.ejs') %>
                        <div class="row">
                            <div class="col-sm">
                                <form action="/new-password" method="POST">
                                    <div class="form-group">
                                        <label for="password">Новый пароль</label>
                                        <input required type="password" class="form-control" id="password"
                                            name="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Подтверждение пароля</label>
                                        <input required type="password" class="form-control" id="confirmPassword"
                                            name="confirmPassword">
                                    </div>
                                    <input type="hidden" name="userId" value="<%= userId %>">
                                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn btn-primary">Обновить пароль</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>