<%- include('../includes/head.ejs') %>
</head>

<body>
    <main>
        <div class="container" style="margin-top: 10rem;">
            <%- include('../includes/alert_messages.ejs') %>
            <div class="row justify-content-center align-items-center">
                <div class="card" style="width: 40rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <div class="alert alert-primary" role="alert">
                                    Для восстановления пароля введите email, который был привязан к аккаунту
                                  </div>
                                <form action="/reset" method="POST">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input required type="email" class="form-control" id="email" name="email">
                                    </div>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn btn-primary">Сбросить пароль</button>
                                    <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>