<%- include('../includes/head.ejs') %>
</head>

<body>
    <main>
        <div class="container" style="margin-top: 10rem;">
            <%- include('../includes/alert_messages.ejs') %>
            <div class="row justify-content-center align-items-center">
                <div class="card" style="width: 40rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <form action="/signup" method="POST">
                                    <!-- <div class="form-group">
                                        <label for="phone">Мобильный телефон</label>
                                        <input required type="text" class="form-control" id="phone" name="phone"
                                            value="<%= oldInput.phone %>">
                                    </div> -->
                                    <div class="form-group">
                                        <label for="firstName">Имя</label>
                                        <input required type="text" class="form-control" id="firstName" name="firstName"
                                            value="<%= oldInput.firstName %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Фамилия</label>
                                        <input required type="text" class="form-control" id="lastName" name="lastName"
                                            value="<%= oldInput.lastName %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input required type="email" class="form-control" id="email" name="email"
                                            value="<%= oldInput.email %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Пароль</label>
                                        <input required type="password" class="form-control" id="password"
                                            name="password" value="<%= oldInput.password %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Подтверждение пароля</label>
                                        <input required type="password" class="form-control" id="confirmPassword"
                                            name="confirmPassword" value="<%= oldInput.confirmPassword %>">
                                    </div>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                                    <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>