<div class="row">
    <div id="endUserFormGroup" class="form-group col-3">
        <label for="owner">Устройство сдал<span style="color:red;">*</span></label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ownerRadios" id="individualOwnerRadio" value="individualOwner"
                
                <%= typeof oldInput.islegalEntityOwner == "boolean" 
                                    ? oldInput.islegalEntityOwner ? '' : 'checked'
                                    : order.customer.individual._id ? 'checked' : '' %>>
            <label class="form-check-label" for="individualOwnerRadio">
                Физическое лицо
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ownerRadios" id="legalEntityOwnerRadio" value="legalEntityOwner"
                 
                <%= typeof oldInput.islegalEntityOwner == "boolean" 
                                    ? oldInput.islegalEntityOwner ? 'checked' : ''
                                    : order.customer.legalEntity._id ? 'checked' : '' %>>
            <label class="form-check-label" for="legalEntityOwnerRadio">
                Юридическое лицо
            </label>
        </div>
    </div>
</div>
<div class="row" id="individualOwnerForm" 
    <%= !order.customer.individual._id ? 'hidden' : '' %>>
    <div id="ownerFormGroup" class="form-group col-8">
        <input class="form-control" id="individualOwner" name="individualOwner" placeholder="Поиск физ. лица..."
             
            <% if (oldInput.individualOwner && !oldInput.islegalEntityOwner) { %>
                value="<%= oldInput.individualOwner %>"
            <% } else if (order.customer.individual._id) { %>
                value="<%= `${order.customer.individual.lastName} ${order.customer.individual.firstName} ${order.customer.individual.middleName}` %>"
            <% } %>>
        <input class="form-control" type="hidden" id="individualOwnerId" name="individualOwnerId" 
             
            value="<%= oldInput.individualOwnerId ? oldInput.individualOwnerId : order.customer.individual._id %>">
    </div>
</div>
<div class="row" id="legalEntityOwnerForm" 
    <%= !order.customer.legalEntity._id ? 'hidden' : '' %>>
    <div id="endUserFormGroup" class="form-group col-8">
        <input class="form-control" id="legalEntityOwner" name="legalEntityOwner" placeholder="Поиск юр. лица..."
             
            <% if (oldInput.legalEntityOwner && oldInput.islegalEntityOwner) { %>
                value="<%= oldInput.legalEntityOwner %>"
            <% } else if (order.customer.legalEntity._id) { %>
                value="<%= order.customer.legalEntity.shortName %>"
            <% } %>>
        <input class="form-control" type="hidden" id="legalEntityOwnerId" name="legalEntityOwnerId" 
             
            value="<%= oldInput.legalEntityOwnerId ? oldInput.legalEntityOwnerId : order.customer.legalEntity._id %>">
    </div>
</div>
