<div id="codeFormGroup" name="codeFormGroup">
    <div class="row">
        <div class="col-4">
            <label for="sectionCodeTitle0">Код секции</label>
        </div>
        <div class="col-2">
            <label for="primeCost0">Себестоимость</label>
        </div>
        <div class="col-2">
            <label for="repairCost0">Стоимость</label>
        </div>
        <div class="col-2">
            <label for="sectionCodeTitle0">Срок ремонта</label>
        </div>
    </div>
    <% if (order.codes.sectionCode.length > 0) { %>
    <%for (fault of order.codes.sectionCode) { %>
    <% const i = order.codes.sectionCode.indexOf(fault); %>
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <input disabled class="form-control section-code" id="<%= `sectionCodeTitle${i}` %>"
                name="<%= `sectionCodeTitle${i}` %>"
                value="<%= order.codes.sectionCode[order.codes.sectionCode.indexOf(fault)].title %>">
        </div>
        <div class="col-2">
            <input class="form-control prime-cost" id="<%= `primeCost${i}` %>"
                name="<%= `primeCost${i}` %>" value="<%= order.spareParts[i].primeCost %>" />
        </div>
        <div class="col-2">
            <input class="form-control repair-cost" id="<%= `repairCost${i}` %>"
                name="<%= `repairCost${i}` %>" value="<%= order.spareParts[i].repairCost %>" />
        </div>        
        <div class="col-3">
            <input type="date" class="form-control" id="<%= `repairTerms${i}` %>" name="<%= `repairTerms${i}` %>"
                <% if(order.spareParts[i].terms) { %>
                value="<%= order.spareParts[i].terms.toLocaleDateString('ru-RU', dateOptions) %>" <% } %>>
        </div>


    </div>
    <% } %>
    <% } %>
</div>