<div class="row">
    <div class="form-group col-8">
        <label for="device">Устройство<span style="color:red;">*</span></label>
        <input required class="form-control" id="device" name="device" placeholder="Поиск по SN и IMEI" onchange=""
            value="<%= oldInput.device 
                ? oldInput.device 
                : `${order.device.type} ${order.device.manufacturer} ${order.device.model} (SN: ${order.device.sn})` %> ">
        <input class="form-control" type="hidden" id="deviceId" name="deviceId"
            value="<%= oldInput.deviceId ? oldInput.deviceId : order.device._id %>">
    </div>
</div>
<div class="row">
    <div class="form-group col-8">
        <label for="deviceAppearance">Внешний вид, состояние<span style="color:red;">*</span></label>
        <input type="text" class="form-control" id="deviceAppearance" name="deviceAppearance" 
            value="<%= oldInput.deviceAppearance ? oldInput.deviceAppearance : order.deviceAppearance %>">
    </div>
</div>
<div class="row">
    <div class="form-group col-8">
        <label for="setStandard">Комплектность<span style="color:red;">*</span></label>
        <input type="text" class="form-control" id="setStandard" name="setStandard"
            value="<%= oldInput.setStandard ? oldInput.setStandard : order.setStandard %>">
    </div>
</div>
<div class="row">
    <div class="form-group col-8">
        <label for="statedMalfunction">Заявленная неисправность<span style="color:red;">*</span></label>
        <textarea class="form-control" id="statedMalfunction" name="statedMalfunction"
            rows="3"><%= oldInput.statedMalfunction ? oldInput.statedMalfunction : order.statedMalfunction %></textarea>
    </div>
</div>
