<div id="receptionCodesFormGroup">
    <div class="row">
        <div class="col-4">
            <label for="conditionCodeTitle">Код условия</label>
        </div>
        <div class="col-4">
            <label for="symptomCode">Код симптома</label>
        </div>
    </div>
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <select class="selectpicker" id="conditionCodeTitle" name="conditionCodeTitle"
                data-live-search="true" actionsBox="true" data-none-selected-text="Поиск...">
                <option></option>
                <% for (let code of conditionCode) { %>
                <option <%= order.codes.conditionCode.title == code.title ? 'selected' : "" %> >
                    <%= code.title %>
                </option>
                <% } %>
            </select>
        </div>

        <div class="col-4">
            <select class="selectpicker" id="symptomCodeTitle" name="symptomCodeTitle"
                data-live-search="true" actionsBox="true" data-none-selected-text="Поиск...">
                <option></option>
                <% for (let code of symptomCodes) { %>
                <option <%= order.codes.symptomCode.title == code.title ? 'selected' : "" %> >
                    <%= code.title %>
                </option>
                <% } %>
            </select>
        </div>
    </div>
</div>
<hr>
<div id="codeFormGroup" name="codeFormGroup">
    <div class="row">
        <div class="col-4">
            <label for="sectionCodeTitle0">Код секции</label>
        </div>
        <div class="col-4">
            <label for="defectCodeTitle0">Код дефекта</label>
        </div>
        <div class="col-4">
            <label for="sparePart0">Партномер запчасти</label>
        </div>        
    </div>
    <% if (order.codes.sectionCode.length > 0) { %>
    <% for (let i = 0; i < order.codes.sectionCode.length; i++) { %>
    <div class=" row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <select class="selectpicker" id="<%= `sectionCodeTitle${i}` %>" name="<%= `sectionCodeTitle${i}` %>"
                data-live-search="true" actionsBox="true" data-none-selected-text="Поиск...">
                <option></option>
                <% for (let code of sectionCodes) { %>
                <option <%= order.codes.sectionCode[i]?.title == code.title ? 'selected' : "" %> >
                    <%= code.title %>
                </option>
                <% } %>
            </select>
        </div>
        <div class="col-4">
            <select class="selectpicker" id="<%= `defectCodeTitle${i}` %>" name="<%= `defectCodeTitle${i}` %>"
                data-live-search="true" actionsBox="true" data-none-selected-text="Поиск...">
                <option></option>
                <% for (let code of defectCodes) { %>
                <option <%= order.codes.defectCode[i]?.title == code.title ? 'selected' : "" %> >
                    <%= code.title %>
                </option>
                <% } %>
            </select>
        </div>
        <div class="col-4">
            <input class="form-control spare-part" id="<%= `sparePart${i}` %>" name="<%= `sparePart${i}` %>"
                value="<%= order.spareParts[i]?.partNumber ? order.spareParts[i]?.partNumber : '' %>" />
        </div>        
    </div>
    <% } %>
    <% } else { %>
    <div class=" row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <select class="selectpicker" id="<%= `sectionCodeTitle0` %>" name="<%= `sectionCodeTitle0` %>"
                data-live-search="true" actionsBox="true" data-none-selected-text="Поиск...">
                <option></option>
                <% for (let code of sectionCodes) { %>
                <option>
                    <%= code.title %>
                </option>
                <% } %>
            </select>
        </div>
        <div class="col-4">
            <select class="selectpicker" id="<%= `defectCodeTitle0` %>" name="<%= `defectCodeTitle0` %>"
                data-live-search="true" actionsBox="true" data-none-selected-text="Поиск...">
                <option></option>
                <% for (let code of defectCodes) { %>
                <option>
                    <%= code.title %>
                </option>
                <% } %>
            </select>
        </div>
        <div class="col-4">
            <input class="form-control spare-part" id="sparePart0" name="<%= `sparePart0` %>" value="" />
        </div>        
    </div>
    <% } %>
</div>
<div class="row">
    <div class="col-4">
        <div class="btn-group" role="group">
            <button type="button" id="addCode" class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i></button>            
            <button type="button" id="removeCode" class="btn btn-outline-danger btn-sm"><i class="fas fa-minus"></i></button>
          </div>
    </div>
</div>


