<div class="row">
    <div class="form-group col-8">
        <label for="negotiationTheme">Что согласовываем</label>
        <input type="text" class="form-control" id="negotiationTheme" name="negotiationTheme"
            value="<%= order.negotiation.theme %>">
    </div>
</div>
<div class="row">
    <div class="form-group col-4">
        <label for="negotiationObject">С кем согласовываем</label>
        <select class="custom-select" id="negotiationObject" name="negotiationObject">
            <% for (let source of negotiationObjectList) { %>
            <% if (order.negotiation.object && source == order.negotiation.object) { %>
            <option selected><%= source %></option>
            <% } else { %>
            <option><%= source %></option>
            <% } %>
            <% } %>
        </select>
    </div>    
</div>
<div class="row">
    <div class="form-group col-4">
        <label for="dateOfSale">Сроки</label>
        <input type="date" class="form-control" id="negotiationTerms" name="negotiationTerms"
            <% if(order.negotiation.terms) { %>
            value="<%= order.negotiation.terms.toLocaleDateString('ru-RU', dateOptions) %>" <% } %>>
    </div>
</div>