
<div class="row">
    <div class="col-4">
        <label for="paymentAmount">Сумма</label>
    </div>
    <div class="col-4">
        <label for="paymentMethod">Способ</label>
    </div>
    <div class="col-4">
        <label for="paymentDate">Дата</label>
    </div>
</div>

<div id="paymentFormGroup" name="paymentFormGroup">
    <% if (order.payments.length > 0) { %>
    <% for (let i = 0; i < order.payments.length; i++) { %>
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <input class="form-control" id="<%= `paymentAmount${i}` %>" name="<%= `paymentAmount${i}` %>" 
                value="<%= order.payments[i].amount ? order.payments[i].amount : '' %>" />
        </div>
        <div class="col-4">
            <select class="custom-select" id="<%= `paymentMethod${i}` %>" name="<%= `paymentMethod${i}` %>"
                value="<%= order.payments[i].method ? order.payments[i].method : '' %>" >
                <% for (let method of paymentMethodList) { %>
                <% if (method == order.payments[i].method) { %>
                <option selected><%= method %></option>
                <% } else { %>
                <option><%= method %></option>
                <% } %>
                <% } %>   
            </select>
        </div>
        <div class="col-4">
            <input type="date" class="form-control" id="<%= `paymentDate${i}` %>" name="<%= `paymentDate${i}` %>" 
                value="<%= order.payments[i].date ? order.payments[i].date.toLocaleDateString('ru-RU', dateOptions) : '' %>" />
        </div>
    </div>
    <% } %>
    <% } else { %>
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <input class="form-control" id="paymentAmount0" name="paymentAmount0" />
        </div>
        <div class="col-4">
            <select class="custom-select" id="paymentMethod0" name="paymentMethod0">
                <% for (let method of paymentMethodList) { %>
                <option><%= method %></option>
                <% } %>
            </select>
        </div>
        <div class="col-4">
            <input type="date" class="form-control" id="paymentDate0" name="paymentDate0" />
        </div>
    </div>
    <% } %>
</div>
<div class="row">
    <div class="col-4">
        <div class="btn-group" role="group">
            <button type="button" id="addPayment" class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i></button>            
            <button type="button" id="removePayment" class="btn btn-outline-danger btn-sm"><i class="fas fa-minus"></i></button>
          </div>
    </div>
</div>