<div class="container">
    <div class="row">
        <label for="finalTestFile">Финальный тест</label>
    </div>
    <div class="row">
        <div class="col-6">
            <input class="file" type="file" id="finalTestFile" name="finalTestFile">      
        </div>
    </div>
</div>