<div id="codeFormGroup" name="codeFormGroup">
    <div class="row">
        <div class="col-4">
            <label for="sectionCodeTitle0">Код секции</label>
        </div>
        <div class="col-4">
            <label for="sectionCodeTitle0">Код ремонта</label>
        </div>
        <div class="col-2">
            <label for="sectionCodeTitle0">DOA</label>
        </div>
        <div class="col-2">
            <label for="sectionCodeTitle0">Not Used</label>
        </div>
    </div>
    <% if (order.codes.sectionCode.length > 0) { %>
    <%for (fault of order.codes.sectionCode) { %>
    <% const i = order.codes.sectionCode.indexOf(fault); %>
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <input disabled class="form-control section-code" id="<%= `sectionCodeTitle${i}` %>"
                name="<%= `sectionCodeTitle${i}` %>"
                value="<%= order.codes.sectionCode[order.codes.sectionCode.indexOf(fault)].title %>">
        </div>
        <div class="col-4">
            <select class="selectpicker" id="<%= `repairCodeTitle${i}` %>" name="<%= `repairCodeTitle${i}` %>"
                data-live-search="true" actionsBox="true" data-none-selected-text="Поиск...">
                <option></option>
                <% for (let code of repairCodes) { %>
                <option <%= order.codes.repairCode[i]?.title == code.title ? 'selected' : "" %> >
                    <%= code.title %>
                </option>
                <% } %>
            </select>
        </div>
        <div class="col-2">
            <div class="custom-control custom-switch" style="margin: 0.4rem;">
                <input class="custom-control-input" type="checkbox" id="<%= `DOA${i}` %>" name="<%= `DOA${i}` %>"
                    <%= order.spareParts[i].DOA ? 'value=on checked'  : '' %> />
                <label class="custom-control-label" for="<%= `DOA${i}` %>">
                </label>
            </div>
        </div>
        <div class="col-2">
            <div class="custom-control custom-switch" style="margin: 0.4rem;">
                <input class="custom-control-input" type="checkbox" id="<%= `notUsed${i}` %>"
                    name="<%= `notUsed${i}` %>"
                    <%= order.spareParts[i].notUsed ? 'value=on checked'  : '' %> />
                <label class="custom-control-label" for="<%= `notUsed${i}` %>">
                </label>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>
</div>
<div class="row">
    <div class="col-5">
        <button type="button" class="btn btn-outline-success" 
            data-toggle="modal" data-target="#changeDeviceData">Изменить SN или IMEI устройства</button>
    </div>
</div>