<div id="codeFormGroup" name="codeFormGroup">
    <div class="row">
        <div class="col-4">
            <label for="sectionCodeTitle0">Код секции</label>
        </div>
        <div class="col-4">
            <label for="partNumber0">Партномер</label>
        </div>
        <div class="col-4">
            <label for="repairCost0">Статус запчасти</label>
        </div>
    </div>
    <% if (order.codes.sectionCode.length > 0) { %>
    <%for (fault of order.codes.sectionCode) { %>
    <% const i = order.codes.sectionCode.indexOf(fault); %>
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <input disabled class="form-control section-code" id="<%= `sectionCodeTitle${i}` %>"
                name="<%= `sectionCodeTitle${i}` %>"
                value="<%= order.codes.sectionCode[order.codes.sectionCode.indexOf(fault)].title %>">
        </div>
        <div class="col-4">
            <input disabled class="form-control part-number" id="<%= `partNumber${i}` %>" name="<%= `partNumber${i}` %>"
                value="<%= order.spareParts[i].partNumber %>" />
        </div>
        <div class="col-4">
            <select disabled class="custom-select sparepart-state" id="<%= `sparePartState${i}` %>"
                name="<%= `sparePartState${i}` %>" value="<%= order.spareParts[i].state %>">
                <option></option>
            </select>
        </div>
    </div>
    <% } %>
    <% } %>
</div>