<div class="row">
    <div class="form-group col-4">
        <label for="orderState">Продление гарантии</label>
        <select class="custom-select" id="warrantyExtensionState" name="warrantyExtensionState" value="<%= order.warrantyExtensionState %>">
            <% for (let state of warrantyExtensionStates) { %>
            <% if (state == order.warrantyExtensionState) { %>
            <option selected><%= state %></option>
            <% } else { %>
            <option><%= state %></option>
            <% } %>
            <% } %>
        </select>
    </div>
</div>