<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Изменить ремонт №<%= order.orderNo %></h1>
            <h5><%= `${order.device.type} ${order.device.manufacturer} ${order.device.model} (SN: ${order.device.sn})` %>
            </h5>
            <hr>
            <%- include('../../includes/alert_messages.ejs') %>
            <form action="/orders/edit" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-contacts-tab" data-toggle="pill"
                                href="#v-pills-contacts" role="tab" aria-controls="v-pills-contacts"
                                aria-selected="false">Контакты
                            </a>
                            <a class="nav-link" id="v-pills-device-tab" data-toggle="pill" href="#v-pills-device"
                                role="tab" aria-controls="v-pills-device" aria-selected="false">Устройство
                            </a>
                            <% if (order.type.warranty) { %>
                            <a class="nav-link" id="v-pills-warranty-extension-tab" data-toggle="pill"
                                href="#v-pills-warranty-extension" role="tab" aria-controls="v-pills-warranty-extension"
                                aria-selected="false">Продление гарантии
                            </a>
                            <% } %>                            
                            <a class="nav-link" id="v-pills-diagnostics-tab" data-toggle="pill"
                                href="#v-pills-diagnostics" role="tab" aria-controls="v-pills-diagnostics"
                                aria-selected="false">Диагностика
                            </a>   
                            <a class="nav-link" id="v-pills-negotiation-tab" data-toggle="pill"
                                href="#v-pills-negotiation" role="tab" aria-controls="v-pills-negotiation"
                                aria-selected="false">Согласование
                            </a>                         
                            <% if (!order.type.warranty) { %>
                            <a class="nav-link" id="v-pills-cost-and-terms-tab" data-toggle="pill"
                                href="#v-pills-cost-and-terms" role="tab" aria-controls="v-pills-cost-and-terms"
                                aria-selected="false">Стоимости и сроки
                            </a>
                            <% } %>
                            <a class="nav-link" id="v-pills-spareparts-tab" data-toggle="pill"
                                href="#v-pills-spareparts" role="tab" aria-controls="v-pills-spareparts"
                                aria-selected="false">Запчасти
                            </a>
                            
                            <a class="nav-link" id="v-pills-repair-tab" data-toggle="pill" href="#v-pills-repair"
                                role="tab" aria-controls="v-pills-repair" aria-selected="false">Ремонт
                            </a>
                            <!--  <a class="nav-link" id="v-pills-quality-control-tab" data-toggle="pill"
                                href="#v-pills-quality-control" role="tab" aria-controls="v-pills-quality-control"
                                aria-selected="false">Проверка качества
                            </a> -->
                            <!-- <% if (order.type.warranty) { %>
                            <a class="nav-link" id="v-pills-write-off-tab" data-toggle="pill" href="#v-pills-write-off"
                                role="tab" aria-controls="v-pills-write-off" aria-selected="false">Списание
                            </a>
                            <% } %> -->
                            <% if (!order.type.warranty) { %>
                            <a class="nav-link" id="v-pills-payments-tab" data-toggle="pill" href="#v-pills-payments"
                                role="tab" aria-controls="v-pills-payments" aria-selected="false">Оплаты
                            </a>
                            <% } %>
                            <!-- <a class="nav-link" id="v-pills-pickup-tab" data-toggle="pill" href="#v-pills-pickup"
                                role="tab" aria-controls="v-pills-pickup" aria-selected="false">Выдача
                            </a> -->
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-contacts" role="tabpanel"
                                aria-labelledby="v-pills-contacts-tab">
                                <%- include('_contacts') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-device" role="tabpanel"
                                aria-labelledby="v-pills-device-tab">
                                <%- include('_device') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-warranty-extension" role="tabpanel"
                                aria-labelledby="v-pills-warranty-extension-tab">
                                <%- include('_warranty_extension') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-diagnostics" role="tabpanel"
                                aria-labelledby="v-pills-diagnostics-tab">
                                <%- include('_diagnostics') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-cost-and-terms" role="tabpanel"
                                aria-labelledby="v-pills-cost-and-terms-tab">
                                <%- include('_cost_and_terms') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-negotiation" role="tabpanel"
                                aria-labelledby="v-pills-negotiation-tab">
                                <%- include('_negotiation') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-spareparts" role="tabpanel"
                                aria-labelledby="v-pills-spareparts-tab">
                                <%- include('_spareparts') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-repair" role="tabpanel"
                                aria-labelledby="v-pills-repair-tab">
                                <%- include('_repair') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-quality-control" role="tabpanel"
                                aria-labelledby="v-pills-quality-control-tab">
                                <%- include('_quality_control') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-write-off" role="tabpanel"
                                aria-labelledby="v-pills-write-off-tab">
                                <%- include('_write_off') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-payments" role="tabpanel"
                                aria-labelledby="v-pills-payments-tab">
                                <%- include('_payments') %>
                            </div>

                            <div class="tab-pane fade" id="v-pills-pickup" role="tabpanel"
                                aria-labelledby="v-pills-pickup-tab">
                                <%- include('_pickup') %>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="state">Статус Ремонта</label>
                        <select class="custom-select" id="state" name="state"
                            value="<%= oldInput.state ? oldInput.state : order.state %>">
                            <% for (let state of states) { %>
                            <% if (state == order.state) { %>
                            <option selected><%= state %></option>
                            <% } else { %>
                            <option><%= state %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="orderType">Тип ремонта</label>
                        <select class="custom-select" id="orderType" name="orderType"
                            value="<%= oldInput.orderType ? oldInput.orderType : order.type %>">
                            <% for (let type of types) { %>
                            <% if (type.title === order.type.title) { %>
                            <option selected><%= type.title %></option>
                            <% } else { %>
                            <option><%= type.title %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-2">
                        <label for="providerOrderId"># ремонта вендора</label>
                        <input class="form-control" id="providerOrderId" name="providerOrderId"
                            value="<%= order.providerOrderId %>">
                    </div>
                    <div class="form-group col-2">
                        <label for="providerOrderState">Статус</label>
                        <select class="custom-select" id="providerOrderState" name="providerOrderState">
                            <% for (let state of providerOrderStates) { %>
                            <% if (state === order.providerOrderState) { %>
                            <option selected><%= state %></option>
                            <% } else { %>
                            <option><%= state %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        <label for="issueNote">Комментарий СЦ</label>
                        <textarea class="form-control" id="issueNote" name="issueNote" rows="3"
                            placeholder="Внимание! Это поле отображается в акте выполненных работ"><%= oldInput.issueNote ? oldInput.issueNote : order.issueNote %></textarea>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input class="form-control" type="hidden" id="orderId" name="orderId" value="<%= order._id %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>
                    Назад</a>
            </form>
        </div>
    </main>

    <div class="modal fade" id="changeDeviceData" tabindex="-1" aria-labelledby="changeDeviceDataLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeDeviceDataLabel">Новые данные устройства</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/orders/new-device-identity" method="POST">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-group col">
                                    <label for="newSn">Новый серийный номер</label>
                                    <input class="form-control" id="newSn" name="newSn" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="newImei1">Новый IMEI1</label>
                                    <input class="form-control" id="newImei1" name="newImei1" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="newImei2">Новый IMEI2</label>
                                    <input class="form-control" id="newImei2" name="newImei2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input hidden id="newIdentityDeviceId" name="newIdentityDeviceId"
                            value="<%= order.device._id %>" />
                        <input hidden id="orderId" name="orderId" value="<%= order._id %>" />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/autocomplete.js"></script>
    <script src="/js/radios.js"></script>
    <script src="/js/dynamic-form-fields.js"></script>

    <%- include('../../includes/footer.ejs') %>