<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить Запчасть</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/spareParts/add" method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="title">Название<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="title" name="title" value="<%= oldInput.title %>">
                    </div>      
                </div>
                <div class="row">
                     <div class="form-group col-4">
                        <label for="partNumber">Партномер</label>
                        <input type="text" class="form-control" id="partNumber" name="partNumber" value="<%= oldInput.partNumber %>">                
                    </div>  
                    <div class="form-group col-4">
                        <label for="serialNumber">Серийный номер</label>
                        <input type="text" class="form-control" id="serialNumber" name="serialNumber" value="<%= oldInput.serialNumber %>">
                    </div>               
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="vendor">Вендор</label>
                        <select class="custom-select" id="vendor" name="vendor" value="<%= oldInput.vendor %>">
                            <% for (let manufacturer of manufacturers) { %>
                                <option><%= manufacturer.name %></option>
                            <% } %>
                        </select>
                    </div>                                          
                </div>          
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>