<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/spareParts/add/"><i class="fas fa-plus"></i></a> Запчасти</h2>
                </div>                
            </div>
            <hr>
            <% if (spareParts.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Партномер</th>
                        <th scope="col">Серийный Номер</th>
                        <th scope="col">Вендор</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let sparePart of spareParts) { %>
                    <tr>
                        <td><%= sparePart.title %></td>
                        <td><%= sparePart.partNumber %></td>
                        <td><%= sparePart.serialNumber %></td>
                        <td><%= sparePart.vendor %></td>
                        <td class="text-center align-middle">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="/spareParts/view/<%= sparePart._id %>">Просмотр</a>
                                    <a class="dropdown-item" href="/spareParts/edit/<%= sparePart._id %>">Изменить</a>
                                    <% if (userData.role === "Admin" || userData.role === "Manager") { %>
                                    <form action="/spareParts/delete" method="POST">
                                        <input type="hidden" value="<%= sparePart._id %>" name="sparePartId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>

                </tbody>
            </table>
            <% } else { %>
            <h1>Запчасти не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>