<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Просмотр Запчасти</h1>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Название</th>
                        <td><%= sparePart.title %></td>
                    </tr>
                    <tr>
                        <th scope="row">Партномер</th>
                        <td><%= sparePart.partNumber %></td>
                    </tr>
                    <tr>
                        <th scope="row">Серийный номер</th>
                        <td><%= sparePart.serialNumber %></td>
                    </tr>
                    <tr>
                        <th scope="row">Вендор</th>
                        <td><%= sparePart.vendor %></td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <a href="/spareParts/edit/<%= sparePart._id %>" class="btn btn-primary">Изменить</a>
            <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>