<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить устройство</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/devices/add" method="POST">
                <%- include('./includes/device_form.ejs', { modal: false }) %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" name="continue" id="continue" class="btn btn-primary"
                    value="continueView">Сохранить и выйти</button>
                <button type="submit" name="continue" id="continue" class="btn btn-primary"
                    value="continueOrder">Сохранить и добавить ремонт</button>
                    <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <script src="/js/autocomplete.js"></script>
    <script src="/js/radios.js"></script>
    <script src="/js/saveAndContinue.js"></script> 

    <%- include('modals/individualOwner_modal.ejs') %>
    <%- include('modals/legalEntityOwner_modal.ejs') %>
    <%- include('../includes/footer.ejs') %>

    <script type="text/javascript">
        window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
    </script>