<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class="container">
      <h1>Изменить устройство</h1>
      <%- include('../includes/alert_messages.ejs') %>
      <form action="/devices/edit" method="POST">
        <div class="row">
          <div id="ownerFormGroup" class="form-group col-3">
            <label for="owner">Конечный пользователь<span style="color:red;">*</span></label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ownerRadios" id="individualOwnerRadio" value="individualOwner" <%= device.owner.individual?._id ? 'checked' : '' %>>
              <label class="form-check-label" for="individualOwnerRadio">
                Физическое лицо
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ownerRadios" id="legalEntityOwnerRadio" value="legalEntityOwner" <%= device.owner.legalEntity?._id ? 'checked' : '' %>>
              <label class="form-check-label" for="legalEntityOwnerRadio">
                Юридическое лицо
              </label>
            </div>
          </div>
        </div>
        <div class="row" id="individualOwnerForm" <%= !device.owner.individual?._id ? 'hidden' : '' %>>
          <div id="ownerFormGroup" class="form-group col-4">
            <input class="form-control" id="individualOwner" name="individualOwner" placeholder="Поиск физ. лица..." <% if(device.owner.individual?._id) { %> value="<%= `${ device.owner.individual.lastName || '' } ${ device.owner.individual.firstName || '' } ${ device.owner.individual.middleName || '' } ` %>" <% } %>>
            <input class="form-control" type="hidden" id="individualOwnerId" name="individualOwnerId" value="<%= device.owner.individual._id %>">
          </div>
        </div>
        <div class="row" id="legalEntityOwnerForm" <%= !device.owner.legalEntity._id ? 'hidden' : '' %>>
          <div id="ownerFormGroup" class="form-group col-4">
            <input class="form-control" id="legalEntityOwner" name="legalEntityOwner" placeholder="Поиск юр. лица..." value="<%= device.owner.legalEntity?.shortName || '' %>">
            <input class="form-control" type="hidden" id="legalEntityOwnerId" name="legalEntityOwnerId" value="<%= device.owner.legalEntity._id %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-4">
            <label for="manufacturer">Производитель<span style="color:red;">*</span></label>
            <select required class="selectpicker" data-style="" data-style-base="form-control" data-width="100%" data-size=5 id="manufacturer" name="manufacturer" data-live-search="true" data-none-selected-text="Ничего не выбрано" <%=(userData.role==="Engineer" || userData.role==="User" ) ? 'readonly' : '' %>>
              <option></option>
              <% for (let manufacturer of manufacturers) { %>
              <% if (manufacturer.title == oldInput.manufacturer)  { %>
              <option selected>
                <%= manufacturer.title %>
              </option>
              <% } else if (!oldInput.manufacturer && manufacturer.title == device.manufacturer) { %>
              <option selected>
                <%= manufacturer.title %>
              </option>
              <% } else { %>
              <option>
                <%= manufacturer.title %>
              </option>
              <% } %>
              <% } %>
            </select>
          </div>
          <div class="form-group col-4">
            <label for="type">Тип устройства<span style="color:red;">*</span></label>
            <select required class="selectpicker" data-style="" data-style-base="form-control" data-width="100%" data-size=5 id="type" name="type" data-live-search="true" data-none-selected-text="Ничего не выбрано" <%=(userData.role==="Engineer" || userData.role==="User" ) ? 'readonly' : '' %>>
              <option></option>
              <% for (let type of deviceTypes) { %>
              <% if (type.name == oldInput.type)  { %>
              <option selected>
                <%= oldInput.type %>
              </option>
              <% } else if (!oldInput.type && type.name == device.type) { %>
              <option selected>
                <%= device.type %>
              </option>
              <% } else { %>
              <option>
                <%= type.name %>
              </option>
              <% } %>
              <% } %>
            </select>
          </div>
          <div class="form-group col-4">
            <label for="model">Модель<span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="model" name="model" <%=(userData.role==="Engineer" || userData.role==="User" ) ? 'readonly' : '' %> value="<%= oldInput.model ? oldInput.model : device.model %>" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-3">
            <label for="sn">Серийный номер<span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="sn" name="sn" <%=(userData.role==="Engineer" || userData.role==="User" ) ? 'readonly' : '' %> value="<%= oldInput.sn ? oldInput.sn : device.sn %>" required>
          </div>
          <div class="form-group col-3">
            <label for="itemCode">Item Code (MTM)</label>
            <input type="text" class="form-control" id="itemCode" name="itemCode" <%=(userData.role==="Engineer" || userData.role==="User" ) ? 'readonly' : '' %> value="<%= oldInput.itemCode ? oldInput.itemCode : device.itemCode %>">
          </div>
          <div class="form-group col-3">
            <label for="imei1">IMEI 1</label>
            <input type="text" class="form-control" id="imei1" name="imei1" <%=(userData.role==="Engineer" || userData.role==="User" ) ? 'readonly' : '' %> value="<%= oldInput.imei1 ? oldInput.imei1 : device.imei1 %>">
          </div>
          <div class="form-group col-3">
            <label for="imei2">IMEI 2</label>
            <input type="text" class="form-control" id="imei2" name="imei2" <%=(userData.role==="Engineer" || userData.role==="User" ) ? 'readonly' : '' %> value="<%= oldInput.imei2 ? oldInput.imei2 : device.imei2 %>">
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="dateOfSale">Дата Продажи</label>
            <input type="date" class="form-control" id="dateOfSale" name="dateOfSale" %> <% if(device.dateOfSale) { %> value="<%= oldInput.dateOfSale ? oldInput.dateOfSale :
                                            device.dateOfSale.toISOString().split('T')[0] %>" <% } %>>
          </div>
          <div class="form-group col-6">
            <label for="osVersion">Версия ОС</label>
            <input type="text" class="form-control" id="osVersion" name="osVersion" <%=(userData.role==="Engineer" || userData.role==="User" ) ? 'readonly' : '' %> value="<%= oldInput.osVersion ? oldInput.osVersion : device.osVersion %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="state">Статус устройства</label>
            <select class="selectpicker" data-style="" data-style-base="form-control" data-width="100%" data-live-search="true" data-dropup-auto="false" id="state" name="state"  value="<%= oldInput.state ? oldInput.state : device.state %>">
              <% for (let state of states) { %>
              <% if (oldInput.state == state)  { %>
              <option selected>
                <%= state %>
              </option>
              <% } else  if (!oldInput.state && state == device.state) { %>
              <option selected>
                <%= state %>
              </option>
              <% } else { %>
              <option>
                <%= state %>
              </option>
              <% } %>
              <% } %>
            </select>
          </div>
          <div class="form-group col-6">
            <label for="orderNo">Номер Заявки</label>
            <input type="text" class="form-control" id="orderNo" name="orderNo" value="<%= oldInput.orderNo ? oldInput.orderNo : device.orderNo %>">
          </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input class="form-control" type="hidden" id="deviceId" name="deviceId" value="<%= device._id %>">
        <hr>
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
      </form>
    </div>
  </main>

  <script src="/js/autocomplete.js"></script>
  <script src="/js/radios.js"></script>

  <%- include('../includes/footer.ejs') %>