<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/devices/add/"><i class="fas fa-plus"></i></a> Подменный фонд</h2>
                </div>                
            </div>
            <hr>
            <% if (devices.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Владелец</th>
                        <th scope="col">Устройство</th>
                        <th scope="col">Серийный Номер</th>
                        <th scope="col">IMEI</th>
                        <th scopre="col">Номер заявки</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let device of devices) { %>
                    <tr>
                        <td>
                            <% if (device.owner.individual._id) { %>
                            <%= `${device.owner.individual.lastName} ${device.owner.individual.firstName} ${device.owner.individual.middleName}` %>
                            <% } else { %>
                            <%= device.owner.legalEntity.shortName %>
                            <% } %>
                        </td>
                        <td><%= `${device.type} ${device.manufacturer} ${device.model}` %></td>
                        <td><%= device.sn %></td>
                        <td>
                            <%= device.imei1 %><br>
                            <%= device.imei2 %>
                        </td>
                        <td><%= device.orderNo %></td>
                        <td><%= device.state %></td>
                        <td class="text-center align-middle">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="/devices/view/<%= device._id %>">Просмотр</a>
                                    <a class="dropdown-item" href="/devices/edit/<%= device._id %>">Изменить</a>
                                    <% if (userData.role === "Admin" || userData.role === "Manager") { %>
                                    <form action="/devices/delete" method="POST">
                                        <input type="hidden" value="<%= device._id %>" name="deviceId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>

                </tbody>
            </table>
            <% } else { %>
            <h1>Устройства не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>