<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">            
            <%- include('includes/device_view.ejs') %>
            <hr>            
            <a href="/devices/edit/<%= device._id %>" class="btn btn-primary"><i class="fas fa-edit"></i> Изменить</a>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-print"></i> Печать
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button <% if(device.state !== "Подменный фонд - устройство на складе") { %> disabled <% } %>
                        data-toggle="modal" data-target="#clientDataModal" class="dropdown-item"
                        target="_blank">Расписка</button>
                </div>
            </div>
            <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            <hr>
            <hr>
      <h4>Текущие Связанные Ремонты</h4>
      <% if (orders.length > 0) { %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Тип ремонта</th>
            <th scope="col">Устройство</th>
            <th scope="col">Серинйый номер</th>
            <th scope="col">Статус ремонта</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <% for (let order of orders) { %>
          <tr>
            <th scope="row"><a href="/orders/view/<%= order._id %>"><%= order.orderNo %></a></th>
            <td>
              <%= order.type.title %>
            </td>
            <td><%= `${order.device.type} ${order.device.manufacturer} ${order.device.model}` %></td>
            <td><%= order.device.sn %></td>
            <td><%= order.state %></td>
            <td class="text-center align-middle">
              <div class="dropdown d-inline table-action-button">
                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a class="dropdown-item" href="/orders/view/<%= order._id %>">Просмотр</a>
                  <a class="dropdown-item" href="/orders/edit/<%= order._id %>">Изменить</a>
                  <a class="dropdown-item" href="/orders/print/work-order/<%= order._id %>">Печать
                    Заявки</a>
                  <a class="dropdown-item" href="/orders/print/act-of-acceptance/<%= order._id %>">Печать Акта
                    Выполненных Работ</a>
                  <% if(["Admin"].includes(userData.role)) { %>
                  <form action="/orders/delete" method="POST">
                    <input type="hidden" value="<%= order._id %>" name="orderId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="dropdown-item" type="submit">Удалить</button>
                  </form>
                  <% } %>
                </div>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <div class="alert alert-secondary" role="alert">
        <h6>Ремонты не найдены :(</h6>
      </div>
      <% } %>
            <hr>
            <a href="/orders/add?device=<%= device._id %>" class="btn btn-primary"><i class="fas fa-plus"></i> Добавить Ремонт</a>
        </div>
        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="clientDataModal" tabindex="-1" role="dialog" aria-labelledby="clientDataModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Паспортные данные Клиента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/devices/print-contract-replacement-fund/" target="_blank" , media="print" method="POST">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="lastName">Фамилия</label>
                                <input required type="text" class="form-control" id="lastName" name="lastName">
                            </div>
                            <div class="form-group col-4">
                                <label for="firstName">Имя</label>
                                <input required type="text" class="form-control" id="firstName" name="firstName">
                            </div>
                            <div class="form-group col-4">
                                <label for="middleName">Отчество</label>
                                <input required type="text" class="form-control" id="middleName" name="middleName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="passportSeries">Серия</label>
                                <input required type="text" class="form-control" id="passportSeries"
                                    name="passportSeries">
                            </div>
                            <div class="form-group col-8">
                                <label for="passportNo">Номер</label>
                                <input required type="text" class="form-control" id="passportNo" name="passportNo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="givenBy">Кем выдан</label>
                                <input required type="text" class="form-control" id="givenBy" name="givenBy">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-5">
                                <label for="firstName">Дата выдачи</label>
                                <input type="date" class="form-control" id="passportDate" name="passportDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="registeredAt">Зарегистрирован</label>
                                <input required type="text" class="form-control" id="registeredAt" name="registeredAt">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="livesAt">Проживает</label>
                                <input required type="text" class="form-control" id="livesAt" name="livesAt">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="orderNo">Номер Заявки</label>
                                <input required type="text" class="form-control" id="orderNo" name="orderNo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input" type="checkbox" id="setGivenToClient"
                                        name="setGivenToClient" checked>
                                    <label class="custom-control-label" for="setGivenToClient">
                                        Изменить статус на Выдан Клиенту
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input class="form-control" type="hidden" id="deviceIdForm" name="deviceIdForm"
                        value="<%= device._id %>">
                    <div class="modal-footer">                        
                        <button type="submit" class="btn btn-primary"><i class="fas fa-print"></i> Печать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../includes/footer.ejs') %>