<div class="container">
  <div class="alert alert-dark" role="alert">
    <div class="row justify-content-center">
        <div class="col-auto">
            <a type="button" class="btn btn-outline-dark" href="/customers/add/"><i class="fas fa-plus"></i> Клиент</a>
        </div>
        <div class="col-auto">
            <a type="button" class="btn btn-outline-dark" href="/devices/add/"><i class="fas fa-plus"></i> Устройство</a>
        </div>
        <div class="col-auto">
            <a type="button" class="btn btn-outline-dark" href="/orders/add/"><i class="fas fa-plus"></i> Ремонт</a>
        </div>
    </div>
  </div>
</div>