<div class="row justify-content-center align-items-center">
    <% if (errorMessage) { %>
    <div class="alert alert-danger"><%= errorMessage %></div>
    <% } %>
    <% if (successMessage) { %>
    <div class="alert alert-success"><%= successMessage %></div>
    <% } %>
    <% if (infoMessage) { %>
    <div class='alert alert-info'><%= infoMessage %></div>
    <% } %>
</div>