</div>
</body>
<script>
  document.querySelectorAll("tr").forEach(el => {
    el.addEventListener("dblclick", () => {
      el.querySelector("td > div > div > a:first-child").click();
    });
  });
</script>
<script>
  $(document).ready(function() {
    $('.table-striped').DataTable({
      "paging": false,
      "language": {
        "info": "Элементов в списке: _TOTAL_",
        "search": "Поиск&nbsp;:"
      },
      stateSave: true
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>
  jQuery(function($) {

    $(".sidebar-dropdown > a").click(function() {
      $(".sidebar-submenu").slideUp(200);
      if (
        $(this)
        .parent()
        .hasClass("active")
      ) {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .parent()
          .removeClass("active");
      } else {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .next(".sidebar-submenu")
          .slideDown(200);
        $(this)
          .parent()
          .addClass("active");
      }
    });

    $("#close-sidebar").click(function() {
      $(".page-wrapper").removeClass("toggled");
    });
    $("#show-sidebar").click(function() {
      $(".page-wrapper").addClass("toggled");
    });
  });
</script>

</html>