<%- include('../includes/sidebar.ejs') %>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 2rem;">
  <a class="navbar-brand" href="/">F1-Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/requests">Запросы</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Клиенты
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/customers">Физические Лица</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/legal-entities">Юридические Лица</a>
        </div>
      </li>
      <!--  <li class="nav-item">
                <a class="nav-link" href="/devices/replacement-fund">Подменный Фонд</a>
            </li> -->
      <% if (["Admin", "Manager"].includes(userData.role)) { %>
      <li class="nav-item">
        <a class="nav-link" href="/devices">Устройства</a>
      </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/orders">Ремонты</a>
      </li>
      <% if (["Admin", "Manager"].includes(userData.role)) { %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Экспорт
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <form action="/orders/export-lenovo" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="dropdown-item" type="submit">КДС Lenovo</button>
          </form>
          <form action="/orders/export-philips-aoc" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="dropdown-item" type="submit">КДС Philips / AOC</button>
          </form>
        </div>
      </li>
      <% } %>
    </ul>
    <div class="row" style="margin-right: 2rem;">
      <div class="col-auto">
        <form class="form-inline" action="/orders/fast-search" method="POST">
          <input class="form-control mr-sm-2" type="search" id="searchParams" name="searchParams" placeholder="Поиск по ремонтам..." />
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
      </div>
    </div>
    <% if (["Admin", "Manager"].includes(userData.role)) { %>
    <div class="row justify-content-center" style="margin-right: 2rem;">
      <div class="col-auto">
        <a type="button" class="btn btn-outline-dark" href="/customers/add/"><i class="fas fa-plus"></i> Клиент</a>
      </div>
      <div class="col-auto">
        <a type="button" class="btn btn-outline-dark" href="/devices/add/"><i class="fas fa-plus"></i> Устройство</a>
      </div>
      <div class="col-auto">
        <a type="button" class="btn btn-outline-dark" href="/orders/add/"><i class="fas fa-plus"></i> Ремонт</a>
      </div>
    </div>
    <% } %>
    <ul class="navbar-nav">
      <!--  <li class="nav-item">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" id="searchParams" name="searchParams"
                        placeholder="Поиск по ремонтам..." />
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i
                            class="fas fa-search"></i></button>
                </form>
            </li> -->
      <li class="nav-item">
        <div class="btn dropdown" style="padding: 0">
          <button class="btn btn-dark" type="button" id="userMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
            <%= userData.email %>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/my-account">Мой Аккаунт</a>
            <% if (userData.role === "Admin") { %>
            <a class="dropdown-item" href="/my-company">Моя Организация</a>
            <% } %>
            <form action="/logout" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="dropdown-item" type="submit">Выйти</button>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>