<div class="page-wrapper chiller-theme">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars fa-2x"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Меню</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <!-- <div class="user-pic">
                    <img class="img-responsive img-rounded"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        alt="User picture">
                </div> -->
                <div class="user-info">
                    <span class="user-name"><%= userData.name.first %>
                        <strong><%= userData.name.last %></strong>
                    </span>
                    <span class="user-role"><%= userData.email %></span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <!-- <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Поиск...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <!-- <li class="header-menu">
              <span>General</span>
            </li> -->
                    <!-- <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-tachometer-alt"></i>
                <span>Dashboard</span>
                <span class="badge badge-pill badge-warning">New</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Dashboard 1
                      <span class="badge badge-pill badge-success">Pro</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Dashboard 2</a>
                  </li>
                  <li>
                    <a href="#">Dashboard 3</a>
                  </li>
                </ul>
              </div>
            </li> -->
            <% if (["Admin", "Manager"].includes(userData.role)) { %>
                    <li>
                        <a href="/devices/replacement-fund">Подменный Фонд</a>
                    </li>
                    <% } %>
                    <li class="sidebar-dropdown active">
                        <a href="#">
                            <span>Фильтры ремонтов</span>
                            <!-- <span class="badge badge-pill badge-danger">3</span> -->
                        </a>
                        <div class="sidebar-submenu" style="display:block;">
                            <ul>
                                <% for (filter of locals.myOrderFilters) {%>
                                <li><a href="/orders/filtered/<%= filter._id %>"><%= filter.title%></a></li>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>Клиенты</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="/customers">Физические лица</a>
                                </li>
                                <li>
                                    <a href="/legal-entities">Юридические лица</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>Справочники</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="/my-order-filters">Мои фильтры ремонтов</a>
                                </li>
                                <% if (["Admin", "Manager"].includes(userData.role)) { %>
                                <li>
                                    <a href="/device-types">Типы устройств</a>
                                </li>
                                <li>
                                    <a href="/manufacturers">Производители</a>
                                </li>                               
                                <% } %>
                                <% if (userData.role === "Admin") { %>
                                    <li>
                                        <a href="/spareParts">Запчасти</a>
                                    </li>
                                <li>
                                    <a href="/request-states">Статусы Запросов</a>
                                </li>
                                <li>
                                    <a href="/order-types">Типы Ремонта</a>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                    <% if (["Admin", "Manager"].includes(userData.role)) { %>               
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>Коды ремонта</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li><a href="/defect-codes">Коды дефекта</a></li>
                                <li><a href="/repair-codes">Коды ремонта</a></li>
                                <li><a href="/section-codes">Коды секции</a></li>
                                <li><a href="/symptom-codes">Коды симптома</a></li>
                                <li><a href="/condition-codes">Коды условия</a></li>                                
                            </ul>
                        </div>
                    </li>
                    <% } %>
                    <% if (["Admin"].includes(userData.role)) { %>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>Администрирование</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                
                                <li>
                                    <a href="/users">Пользователи</a>
                                </li>
                                <li>
                                    <a href="/my-companies">Организации</a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                    <% } %>
                    <!-- <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-chart-line"></i>
                            <span>Charts</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Pie chart</a>
                                </li>
                                <li>
                                    <a href="#">Line chart</a>
                                </li>
                                <li>
                                    <a href="#">Bar chart</a>
                                </li>
                                <li>
                                    <a href="#">Histogram</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <!--  <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-globe"></i>
                            <span>Maps</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Google maps</a>
                                </li>
                                <li>
                                    <a href="#">Open street map</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <!--  <li class="header-menu">
                        <span>Extra</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Documentation</span>
                            <span class="badge badge-pill badge-primary">Beta</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Examples</span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <!-- <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a> -->
            <!-- <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a> -->
            <!-- <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a> -->
            <!-- <a href="#">
                <i class="fa fa-power-off"></i>
            </a> -->
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">