<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/dragNDrop.css">

</head>

<body>
    <!-- action="/orders/add-file" -->
    <form  method="POST" class="dropArea">
        <div>
            <p>Drop files here or click to upload.</p>
            <input type="file" id="input" multiple accept=".png, .jpg, .jpeg, .pdf, .xls, .xlsx, .txt, .doc, .docx">
        </div>
        <button type="submit">Send</button>
    </form>

    <script src="/js/drop-area.js"></script>
    


<%- include('../includes/footer.ejs') %>