<div class="modal fade" id="deviceViewModal" tabindex="-1" role="dialog"
aria-labelledby="deviceViewModal" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="previousOrdersModalLabel">Устройство</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Владелец</th>
                        <td>
                            <% if (device.owner.individual._id) { %>
                            <a href="/customers/view/<%= device.owner.individual._id %>"
                                target="_blank"><%= `${device.owner.individual.lastName} ${device.owner.individual.firstName} ${device.owner.individual.middleName}` %></a>
                            <% } else { %>
                            <a href="/legal-entities/view/<%= device.owner.legalEntity._id %>"
                                target="_blank"><%= device.owner.legalEntity.shortName %></a>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Контактные данные</th>
                        <td>
                            <% if (device.owner.individual._id) { %>
                            <a href="tel:<%= device.owner.individual.phone %>"><%= device.owner.individual.phone %></a>
                            | <a
                                href="mailto:<%= device.owner.individual.email %>"><%= device.owner.individual.email %></a>
                            <% } else { %>
                            <a
                                href="tel:<%= device.owner.legalEntity.phone %>"><%= device.owner.legalEntity.phone %></a>
                            | <a
                                href="mailto:<%= device.owner.legalEntity.email %>"><%= device.owner.legalEntity.email %></a>
                            <% } %>
                        </td>
                    </tr>
            
                    <tr>
                        <th scope="row">Устройство</th>
                        <td><%= `${device.type} ${device.manufacturer} ${device.model}` %></td>
                    </tr>
                    <tr>
                        <th scope="row">Item Code (MTM)</th>
                        <td><%= device.itemCode %></td>
                    </tr>
                    <tr>
                        <th scope="row">Серийный номер</th>
                        <td><%= device.sn %></td>
                    </tr>
                    <tr>
                        <th scope="row">IMEI</th>
                        <td>
                            <%= device.imei1 %><br>
                            <%= device.imei2 %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Версия ОС</th>
                        <td><%= device.osVersion %></td>
                    </tr>
                    <tr>
                        <th scope="row">Дата Продажи</th>
                        <td><% if (device.dateOfSale) { %>
                            <%=  device.dateOfSale.toLocaleDateString('ru-RU', dateOptions) %>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Статус Устройства</th>
                        <td><%= device.state %></td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <a class="btn btn-primary" target="_blank" href="/devices/view/<%= device._id %>">Подробнее</a>
            </div>            
        </div>
    </div>
</div>
</div> 