<!-- Add Individual Owner Modal -->
<div class="modal fade" id="individualOwnerModal" tabindex="-1" aria-labelledby="individualOwnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="individualOwnerModalLabel">Добавить Нового Клиента</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/devices/add-customer" method="POST">
                    <%- include('../../customer/includes/customer_form.ejs') %>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <hr>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <a class="btn btn-primary" href="/devices/view/">Подробнее</a> -->
            </div>
        </div>
    </div>
</div>