<%- include('../includes/head.ejs') %>
<script src="https://cdn.tiny.cloud/1/e635y88hv3vxg0jt52uu063inrr60gb51iu26x3j0gld5rhx/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h2><% if (["Admin", "Manager"].includes(userData.role)) { %><a href="#" data-toggle="modal" data-target="#addPostModal"><i class="fas fa-plus"></i></a> <% } %> Новости</h2>
        </div>
      </div>
      <hr>
      <% if (posts.length > 0) { %>
      <%for (let post of posts) { %>
      <div class="alert <%= ["Портал | Новые фичи", "Портал | Исправление ошибок"].includes(post.category) ? `alert-info` : `alert-danger` %>" role="alert">
        <h4 class="alert-heading"><%= post.title %></h4>
        <p class="mb-0"><%= post.category %></p>
        <hr>
        <p><%- post.body %></p>
        <hr>
        <p class="mb-3">
          <%= `${post.createdAt.toLocaleDateString('ru-RU', dateOptions)} ${post.createdBy.name.last} ${post.createdBy.name.first}` %>          
        </p>
      </div>     
      <% } %>
      <hr>
      <% } else { %>
      <h1>Нет новостей :(</h1>
      <% } %>
    </div>
  </main>

  <!-- Add Post Modal -->
  <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPostModalLabel">Новая новость!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/news/add" method="POST">
            <div class="form-group">
              <label for="title">Заголовок</label>
              <input required class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
              <label for="body">Содержание</label>
              <textarea class="form-control" id="body" name="body"></textarea>
            </div>
            <div class="form-group">
              <label for="category">Категория</label>
              <select required class="form-control" id="category" name="category">
                <option></option>
                <% for(category of categories) { %>
                <option><%= category %></option>
                <% } %>
              </select>
            </div>
            <hr>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Опубликовать</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    tinymce.init({
      selector: '#body',
      height: 500,
      language: 'ru',
    });
  </script>

  <%- include('../includes/footer.ejs') %>