<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>           
        <!-- <div class="container">            
            <div class="row">
                <div class="col-12">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Добавить Клиента
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" href="/legal-entities/add">Юридическое лицо</a>
                          <a class="dropdown-item" href="/customers/add">Физическое лицо</a>
                        </div>
                      </div>
                    ->
                    <a class="btn btn-primary" href="/devices/add">Добавить Устройство</a>
                    ->
                    <a class="btn btn-primary" href="/orders/add">Добавить Ремонт</a>
                </div>               
            </div>
            <hr>
        </div> -->        
    </main>
    <%- include('../includes/footer.ejs') %>