<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить запрос</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/requests/add" method="POST">
                <h2>Клиент</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="lastName">Фамилия</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= oldInput.client.lastName %>"> 
                    </div>
                    <div class="form-group col-4">
                        <label for="firstName">Имя</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= oldInput.client.firstName %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="middleName">Отчество</label>
                        <input type="text" class="form-control" id="middleName" name="middleName" value="<%= oldInput.client.middleName %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="phone">Телефон<span style="color:red;">*</span></label>
                        <input required type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" class="form-control" id="phone" name="phone" value="<%= oldInput.client.phone %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= oldInput.client.email %>">
                    </div>
                </div>
                <h2>Устройство</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="manufacturer">Производитель<span style="color:red;">*</span></label>
                        <input required class="form-control" id="manufacturer" name="manufacturer"
                            placeholder="Поиск..." value="<%= oldInput.device.manufacturer ? oldInput.device.manufacturer.name : '' %>">
                        <input class="form-control" type="hidden" id="manufacturerId" name="manufacturerId" >                        
                    </div>
                    <div class="form-group col-4">
                        <label for="deviceType">Тип устройства<span style="color:red;">*</span></label>
                        <input required class="form-control" id="deviceType" name="deviceType" 
                            placeholder="Поиск..." value="<%= oldInput.device.deviceType ? oldInput.device.deviceType.name : '' %>">                        
                    </div>
                    <div class="form-group col-4">
                        <label for="model">Модель<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="model" name="model" value="<%= oldInput.device.model %>">
                    </div>
                </div>
                <h2>Ремонт</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="statedMalfunction">Заявленная неисправность<span style="color:red;">*</span></label>
                        <textarea required class="form-control" id="statedMalfunction" name="statedMalfunction"
                            rows="3"><%= oldInput.repair.statedMalfunction %></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="repairCost">Стоимость ремонта</label>
                        <input type="text" class="form-control" id="repairCost" name="repairCost"
                            value="<%= oldInput.repair.repairCost %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="repairTerms">Сроки ремонта</label>
                        <input type="text" class="form-control" id="repairTerms" name="repairTerms"
                            value="<%= oldInput.repair.repairTerms %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="sparePartAvailability">Откуда запчасти</label>
                        <select class="custom-select" id="sparePartAvailability" name="sparePartAvailability"
                            value="<%= oldInput.repair.sparePartAvailability %>">
                            <% for (let source of sparePartAvailabilityList) { %>
                            <% if (source == oldInput.repair.sparePartAvailability) { %>
                            <option selected><%= source %></option>
                            <% } else { %>
                            <option><%= source %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-6">
                        <label for="requestState">Статус запроса</label>
                        <select class="custom-select" id="requestState" name="requestState"
                            value="<%= oldInput.requestState %>">
                            <% for (let requestState of requestStates) { %>
                            <% if (requestState.name == oldInput.requestState) { %>
                            <option selected><%= requestState.name %></option>
                            <% } else { %>
                            <option><%= requestState.name %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="requestId" id="requestId">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <script src="/js/autocomplete.js"></script>


    <%- include('../includes/footer.ejs') %>