<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Изменить запрос</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/requests/edit" method="POST">
                <h2>Клиент</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="lastName">Фамилия</label>
                        <input type="text" class="form-control" id="lastName" name="lastName"
                            value="<%=  oldInput.client.lastName ? oldInput.client.lastName : request.client.lastName %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="firstName">Имя</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                            value="<%=  oldInput.client.firstName ? oldInput.client.firstName : request.client.firstName %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="middleName">Отчество</label>
                        <input type="text" class="form-control" id="middleName" name="middleName"
                            value="<%= oldInput.client.middleName ? oldInput.client.middleName : request.client.middleName %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="phone">Телефон<span style="color:red;">*</span></label>
                        <input type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" class="form-control" id="phone" name="phone"
                            value="<%= oldInput.client.phone ? oldInput.client.phone : request.client.phone %>" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email"
                            value="<%= oldInput.client.email ? oldInput.client.email : request.client.email %>">
                    </div>
                </div>
                <h2>Устройство</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="manufacturer">Производитель<span style="color:red;">*</span></label>
                        <input class="form-control" id="manufacturer" name="manufacturer" placeholder="Поиск..."
                            value="<%= oldInput.device.manufacturer ? oldInput.device.manufacturer.name : request.device.manufacturer %>" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="deviceType">Тип устройства<span style="color:red;">*</span></label>
                        <input class="form-control" id="deviceType" name="deviceType" placeholder="Поиск..."
                            value="<%= oldInput.device.deviceType ? oldInput.device.deviceType.name : request.device.deviceType %>" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="model">Модель<span style="color:red;">*</span></label>
                        <input type="text" class="form-control" id="model" name="model"
                            value="<%= oldInput.device.model ? oldInput.device.model : request.device.model %>" required>
                    </div>
                </div>
                <h2>Ремонт</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="statedMalfunction">Заявленная неисправность<span style="color:red;">*</span></label>
                        <textarea class="form-control" id="statedMalfunction" name="statedMalfunction" rows="3"
                            required><%= oldInput.repair.statedMalfunction ? oldInput.repair.statedMalfunction : request.repair.statedMalfunction %></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="repairCost">Стоимость ремонта</label>
                        <input type="text" class="form-control" id="repairCost" name="repairCost"
                            value="<%= oldInput.repair.repairCost ? oldInput.repair.repairCost : request.repair.repairCost %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="repairTerms">Сроки ремонта</label>
                        <input type="text" class="form-control" id="repairTerms" name="repairTerms"
                            value="<%= oldInput.repair.repairTerms ? oldInput.repair.repairTerms : request.repair.repairTerms %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="sparePartAvailability">Откуда запчасти</label>
                        <select class="custom-select" id="sparePartAvailability" name="sparePartAvailability"
                            value="<%= request.repair.sparePartAvailability %>">
                            <% for (let source of sparePartAvailabilityList) { %>
                            <% if (source == request.repair.sparePartAvailability) { %>
                            <option selected><%= source %></option>
                            <% } else { %>
                            <option><%= source %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-6">
                        <label for="requestState">Статус запроса</label>
                        <select class="custom-select" id="requestState" name="requestState"
                            value="<%= request.requestState %>">
                            <% for (let requestState of requestStates) { %>
                            <% if (requestState.name == request.requestState) { %>
                            <option selected><%= requestState.name %></option>
                            <% } else { %>
                            <option><%= requestState.name %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="requestId" id="requestId" value="<%= request._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>            
        </div>
    </main>
    <script src="/js/autocomplete.js"></script>


    <%- include('../includes/footer.ejs') %>