<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/requests/add/"><i class="fas fa-plus"></i></a> Запросы на ремонт</h2>
                </div>                
            </div>
            <hr>
            <% let i = 0 %>
            <% if (requests.length > 0) { %>
            <% for (let request of requests) { %>
            <div style="margin-bottom: 1rem;"
                <% if (timePassed(request.inStateSince)[1] > request.alertLevels.high) { %> class="card border-danger"
                <% } else if (timePassed(request.inStateSince)[1] > request.alertLevels.medium) { %>
                class="card border-warning"
                <% } else if (timePassed(request.inStateSince)[1] > request.alertLevels.low) { %>
                class="card border-warning" <% } else {%> class="card" <% } %>>
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills" id="v-pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="<%= `v-pills-main-tab${i}` %>" data-toggle="pill"
                                href="<%= `#v-pills-main${i}` %>" role="tab" aria-controls="v-pills-main"
                                aria-selected="true">Основная информация</a>
                        </li>
                        <% let commentsCount = 0 %>
                        <% for (let comment of comments) { %>
                        <% if (request._id.toString() === comment.belongsTo.id.toString()) { %>
                        <% commentsCount += 1; %>
                        <% } %>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" id="<%= `v-pills-comments-tab${i}` %>" data-toggle="pill"
                                href="<%= `#v-pills-comments${i}` %>" role="tab" aria-controls="v-pills-comments"
                                aria-selected="true">Комментарии
                                <span <% if (commentsCount === 0) { %> class="badge badge-secondary" <% } %>
                                    class="badge badge-success"><%= commentsCount %></span></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="<%= `v-pills-main${i}` %>" role="tabpanel"
                            aria-labelledby="<%= `v-pills-main-tab${i}` %>">
                            <div class="row">
                                <div class="col-5">
                                    <h5>Клиент:
                                        <%= `${request.client.lastName} ${request.client.firstName} ${request.client.middleName}` %>
                                        <a href="tel:<%= request.client.phone %>"><%= request.client.phone %></a>
                                        <a href="mailto:<%= request.client.email %>"><%= request.client.email %></a>
                                    </h5>
                                    <h5 class="card-title">
                                        Устройство:
                                        <%= `${request.device.deviceType} ${request.device.manufacturer} ${request.device.model}` %>
                                    </h5>
                                    <p class="card-text">Неисправность: <%= request.repair.statedMalfunction %></p>
                                </div>
                                <div class="col-3">
                                    <p class="card-text">Стоимость: <%= request.repair.repairCost %>руб.</p>
                                    <p class="card-text">Сроки: <%= request.repair.repairTerms %></p>
                                    <p class="card-text">Источник запчастей: <%= request.repair.sparePartAvailability %>
                                    </p>
                                </div>
                                <div class="col-4">
                                    <h5 <% if (timePassed(request.inStateSince)[1] > request.alertLevels.high) { %>
                                        class="alert alert-danger text-center"
                                        <% } else if (timePassed(request.inStateSince)[1] > request.alertLevels.medium) { %>
                                        class="alert alert-warning text-center"
                                        <% } else if (timePassed(request.inStateSince)[1] > request.alertLevels.low) { %>
                                        class="alert alert-warning text-center" <% } else {%>
                                        class="alert alert-primary text-center" <% } %>> <%= request.requestState %>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="<%= `v-pills-comments${i}` %>" role="tabpanel"
                            aria-labelledby="<%= `v-pills-comments-tab${i}` %>">
                            <% for (let comment of comments) { %>
                            <% if (request._id.toString() === comment.belongsTo.id.toString()) { %>
                            <div class="card" style="margin: 1rem;">
                                <div class="card-body">
                                    <p class="card-title">
                                        <%= `${comment.createdBy.name.first} ${comment.createdBy.name.last}, добавлен ${comment.createdAt.toLocaleDateString('ru-RU', dateOptions)}` %>
                                    </p>
                                    <h5 class="card-text"><%= comment.commentBody %></h5>
                                    <div class="text-right">
                                        <form action="/comments/delete" method="POST">
                                            <input type="hidden" value="<%= comment._id %>" name="commentId">
                                            <input type="hidden" name="entityName" id="entityName" value="request">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn-sm btn-danger" type="submit">Удалить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <% } %>
                            <hr>
                            <form action="/comments/add" method="POST" style="margin: 1rem;">
                                <div class="form-group">
                                    <textarea class="form-control" id="commentBody" name="commentBody"
                                        rows="3"></textarea>
                                </div>
                                <input type="hidden" name="entityName" id="entityName" value="request">
                                <input type="hidden" name="entityId" id="entityId" value="<%= request._id %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-primary">Добавить комментарий</button>
                            </form>
                        </div>
                    </div>
                    <% i += 1 %>
                </div>

                <div class="card-footer text-muted text-right">
                    <div class="row">
                        <div class="col-11 text-left">
                            <%= `Создан ${request.createdAt.toLocaleDateString('ru-RU', dateOptions)} ${request.createdBy.name.last} ${request.createdBy.name.first} / Изменён ${request.updatedAt.toLocaleDateString('ru-RU', dateOptions)} ${request.updatedBy.name.last} ${request.updatedBy.name.first}` %>
                        </div>
                        <td class="col-1">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="/requests/edit/<%= request._id %>">Изменить</a>
                                    <form action="/requests/delete" method="POST">
                                        <input type="hidden" value="<%= request._id %>" name="requestId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
            </div>
            <% } %>
            <% } else { %>
            <h1>Запросы не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>