main {
    padding: 1rem;
    margin: auto;
}

.btn-logout {
    width: 100%;
    padding: 3px 25px !important;
    text-align: left !important;
}

.table-action-button {
    margin: 0.25rem;
}

table.dataTable.no-footer {
    border-bottom: 0px;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid transparent;
}

.form-check > input[type='checkbox'] {
    margin-top: 7%;
}