.dropArea > div > div {
  border: 0.35vh dashed #ccc;
  border-radius: 0.5vh;
  padding-bottom: 5vh;
}

.dropArea > div > div > p {
  text-align: center;
  vertical-align: middle;
  line-height: parent;
  pointer-events: none;
  font-size: 1.3em;
}

.dropArea > div > div.highlight {
  border-color: hsl(214, 33%, 51%);
  border-style: solid;
}

.dropArea > div > div.highlight > p {
  opacity: 0.2;
}

.dropArea > div > div > input {
  display: none;
}

.dropArea > div > div > div.uploadedFile {
  width: 14vh;
  height: 14vh;
  background-color: lightgray;
  border-radius: 1vh;
  display: inline-block;
  margin-right: 1vh;
  margin-bottom: 1vh;
  padding: 1.4vh;
  text-align: center;
}

.dropArea > div > div > div.uploadedFile > p {
  background-color: whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0.4vh;
}

.dropArea > div > div > div.uploadedFile > div.deleteFile {
  background-color: whitesmoke;
  border-radius: 0.4vh;
}

.dropArea > div > div > div.uploadedFile > p:first-child:hover {
  overflow: visible;
}

.dropArea > div > div > p.dissapeared {
  display: none;
}