body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 640px;
}

table {
    border-collapse: collapse;
    width: 640px;
}

hr {
    border: 1px;
    color: #0069d9;
    background-color: #0069d9;
    height: 3px;
}

#logo img {
    float: left;
    width: 100px;
    height: 100px;
}

#order-header {
    text-align: center;
    height: 4rem;   
    font-weight: bold;
    font-size: 18pt;
}

#logo {    
    text-align: right;
    font-size: 10pt;
}

.cell {
    padding: 0.4rem;
    font-size: 10pt;
    border: solid windowtext 1pt;
    width: 10rem;
}

.cell-signature {
    padding: 0.4rem;
    font-size: 10pt;
    vertical-align: bottom;
    border: solid windowtext 1pt;
}

.cell-header {
    font-style: italic;
}

.additional-info {
    font-size: 9pt;
}

.additional-info td {
    padding: 0.5rem;
    border: solid windowtext 1pt;
}

#conditions {
    font-size: 7pt;
}

.btn-1 {
    background: #0069d9;
    color: #ffffff;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
}

.noprint {
    margin: 2rem 0 2rem 0;
}

@media print {
    .noprint {
        display: none;
    }

    table {
        width: 117%;
    }

    body div {
        margin: 0;
        padding: 0;       
    }
}


