<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <h1>Изменить пользователя</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/users/edit" method="POST">
                <h2>Личные данные</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="lastName">Фамилия<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="lastName" name="lastName" 
                            value="<%= oldInput.name.last ? oldInput.name.last : user.name.last %>">
                    </div>  
                    <div class="form-group col-4">
                        <label for="firstName">Имя<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="firstName" name="firstName" 
                            value="<%= oldInput.name.first ? oldInput.name.first : user.name.first %>">
                    </div>          
                </div>
                <div class="row">
                     <div class="form-group col-4">
                        <label for="phone">Телефон<span style="color:red;">*</span></label>
                        <input required type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" class="form-control" id="phone" name="phone" 
                            value="<%= oldInput.phone ? oldInput.phone : user.phone %>">                
                    </div>  
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input required type="email" class="form-control" id="email" name="email" 
                            value="<%= oldInput.email ? oldInput.email : user.email %>">
                    </div>               
                </div>
                <h2>Системные данные</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="role">Роль</label>
                        <select class="custom-select" id="role" name="role"
                            value="<%= oldInput.role ? oldInput.role : user.role %>">
                            <% for (let role of roles) { %>
                                <% if (role == user.role) { %>
                                    <option selected><%= role %></option>
                                <% } else { %>
                                    <option><%= role %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>              
                    <div class="form-group col-4">
                        <label for="company">Организация</label>
                        <select class="custom-select" id="company" name="company"
                            value="<%= oldInput.company ? oldInput.company : user.company %>">
                            <% for (let company of companies) { %>
                                <% if (company.title.full == user.company) { %>
                                    <option selected><%= company.title.full %></option>
                                <% } else { %>
                                    <option><%= company.title.full %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>                                 
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="isActive" name="isActive"
                                <%= user.active ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="isActive">
                                Активен
                            </label>
                        </div>
                    </div>
                </div>                
                <input type="hidden" name="userId" value="<%= user._id %>">            
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>
