<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/users/add/"><i class="fas fa-plus"></i></a> Пользователи</h2>
                </div>                
            </div>
            <hr>
            <% if (users.length > 0) { %>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Email</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Роль</th>
                        <th scope="col">Организация</th>
                        <th scope="col">Активен</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let user of users) { %>
                    <tr>
                        <td><%= `${user.name.last} ${user.name.first}` %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.role %></td>
                        <td><%= user.company.title.full %></td>
                        <td><i class="<%= user.active ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td class="text-center align-middle">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="/users/edit/<%= user._id %>">Изменить</a>
                                    <form action="/users/delete" method="POST">
                                        <input type="hidden" value="<%= user._id %>" name="userId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>                      
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Пользователи не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>