<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <h1>Мой Аккаунт</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/my-account" method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="firstName">Имя</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                            value="<%= oldInput.name.first ? oldInput.name.first : user.name.first %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="lastName">Фамилия</label>
                        <input type="text" class="form-control" id="lastName" name="lastName"
                            value="<%= oldInput.name.last ? oldInput.name.last : user.name.last %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input required type="email" class="form-control" id="email" name="email" 
                            value="<%= oldInput.email ? oldInput.email : user.email %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="phone">Телефон</label>
                        <input type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" class="form-control" id="phone" name="phone" 
                            value="<%= oldInput.phone ? oldInput.phone : user.phone %>">
                    </div>
                </div>
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="darkTheme" name="darkTheme"
                        <%= typeof oldInput.darkTheme == 'boolean' 
                            ? oldInput.darkTheme 
                                ? 'checked' 
                                : '' 
                            : user.darkTheme
                                ? 'checked' 
                                : ''
                        %>>
                    <label class="custom-control-label" for="darkTheme">
                        Тёмная тема
                    </label>
                </div>
                <input type="hidden" name="userId" value="<%= user._id %>"> 
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>