<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Изменить статус запроса</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/request-states/edit" method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="name">Наименование<span style="color:red;">*</span></label>
                        <input  type="text" class="form-control" id="name" name="name" 
                            value="<%= oldInput.name ? oldInput.name : requestState.name %>">
                    </div>
                </div>
                <div class="card" style="margin: 1rem 0 1rem 0;">
                    <div class="card-body">
                        <h5 class="card-title">Уведомления</h5>
                        <div class="row">
                            <div class="form-group col-4">
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Низкая критичность</div>
                                    <div class="card-body">
                                        <label for="lowTimeLimit">Через сколько часов</label>
                                        <input type="number" class="form-control" id="lowTimeLimit" name="lowTimeLimit"
                                            value="<%= oldInput.alertLevels.low.timeLimit ? oldInput.alertLevels.low.timeLimit : requestState.alertLevels.low.timeLimit %>">
                                        <label for="lowTarget">Кого оповещать</label>
                                        <select class="custom-select" id="lowTarget" name="lowTarget" value="<%= requestState.alertLevels.low.target %>">
                                            <% for (let role of roles) { %>
                                            <% if (role == requestState.alertLevels.low.target) { %>
                                            <option selected><%= role %></option>
                                            <% } else { %>
                                            <option><%= role %></option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-4">
                                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Средняя критичность</div>
                                    <div class="card-body">
                                        <label for="mediumTimeLimit">Через сколько часов</label>
                                        <input type="number" class="form-control" id="mediumTimeLimit" name="mediumTimeLimit" 
                                            value="<%= oldInput.alertLevels.medium.timeLimit ? oldInput.alertLevels.medium.timeLimit : requestState.alertLevels.medium.timeLimit %>">
                                        <label for="mediumTarget">Кого оповещать</label>
                                        <select class="custom-select" id="mediumTarget" name="mediumTarget" value="<%= requestState.alertLevels.medium.target %>">
                                            <% for (let role of roles) { %>
                                            <% if (role == requestState.alertLevels.medium.target) { %>
                                            <option selected><%= role %></option>
                                            <% } else { %>
                                            <option><%= role %></option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-4">
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Высокая критичность</div>
                                    <div class="card-body">
                                        <label for="highTimeLimit">Через сколько часов</label>
                                        <input type="number" class="form-control" id="highTimeLimit" name="highTimeLimit" 
                                            value="<%= oldInput.alertLevels.high.timeLimit ? oldInput.alertLevels.high.timeLimit : requestState.alertLevels.high.timeLimit %>">
                                        <label for="highTarget">Кого оповещать</label>
                                        <select class="custom-select" id="highTarget" name="highTarget" value="<%= requestState.alertLevels.high.target %>">
                                            <% for (let role of roles) { %>
                                            <% if (role == requestState.alertLevels.high.target) { %>
                                            <option selected><%= role %></option>
                                            <% } else { %>
                                            <option><%= role %></option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="isActive" name="isActive"
                                <%= requestState.isActive ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="isActive">
                                Активен
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="name">Приоритет</label>
                        <input type="text" maxlength="3" pattern="[0-9]{1,3}" class="form-control" id="priority" name="priority" placeholder="1-100" 
                            value="<%= oldInput.priority ? oldInput.priority : requestState.priority %>">
                    </div>
                </div>
                <input type="hidden" name="requestId" id="statetId" value="<%= requestState._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>