<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/request-states/add/"><i class="fas fa-plus"></i></a> Статусы Запросов</h2>
                </div>                
            </div>
            <hr>
            <% if (requestStates.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Приоритет</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Активен</th>
                        <th scope="col">Системный</th>
                        <th scope="col">Уведомления, часы</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (let state of requestStates) { %>
                    <tr>
                        <td><%= state.priority %></td>
                        <td><%= state.name %></td>
                        <td><i class="<%= state.isActive ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td><i class="<%= state.isSystem ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td><%= `${state.alertLevels.low.timeLimit} - ${state.alertLevels.medium.timeLimit} - ${state.alertLevels.high.timeLimit}` %>
                        </td>
                        <td class="text-center align-middle">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="/request-states/edit/<%= state._id %>">Изменить</a>
                                    <%if (!state.isSystem) { %>
                                    <form action="/request-states/delete" method="POST">
                                        <input type="hidden" value="<%= state._id %>" name="requestStateId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Статусы запросов не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>