<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить новый ремонт</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/orders/add" method="POST">
                <div class="row">
                    <div id="ownerFormGroup" class="form-group col-3">
                        <label for="owner">Устройство сдал<span style="color:red;">*</span></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ownerRadios" id="individualOwnerRadio"
                                value="individualOwner" checked>
                            <label class="form-check-label" for="individualOwnerRadio">
                                Физическое лицо
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ownerRadios" id="legalEntityOwnerRadio"
                                value="legalEntityOwner">
                            <label class="form-check-label" for="legalEntityOwnerRadio">
                                Юридическое лицо
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" id="individualOwnerForm">
                    <div id="ownerFormGroup" class="form-group col-4">
                        <input required class="form-control" id="individualOwner" name="individualOwner" placeholder="Поиск физ. лица..." 
                            <% if (oldInput.individualOwner) { %>
                                value="<%= oldInput.individualOwner %>"
                            <% } else if (owner && owner.individual.firstName) { %>
                                value="<%= `${owner.individual.lastName} ${owner.individual.firstName} ${owner.individual.middleName} (${owner.individual.phone})` %>"
                            <% } %>>
                        <input class="form-control" type="hidden" id="individualOwnerId" name="individualOwnerId"
                            <% if (oldInput.individualOwnerId) { %>
                                value="<%= oldInput.individualOwnerId %>"
                            <% } else if (owner && owner.individual.firstName) { %>
                                value="<%= owner.individual._id %>" 
                            <% } %>>
                    </div>
                </div>
                <div class="row" id="legalEntityOwnerForm" hidden>
                    <div id="ownerFormGroup" class="form-group col-4">
                        <input class="form-control" id="legalEntityOwner" name="legalEntityOwner" placeholder="Поиск юр. лица..." 
                            <% if (oldInput.legalEntityOwner) { %>
                                value="<%= oldInput.legalEntityOwner %>"
                            <% } else if (owner && owner.legalEntity.shortName) { %>
                               value="<%= `${owner.legalEntity.shortName}` %>"
                            <% } %>>
                        <input class="form-control" type="hidden" id="legalEntityOwnerId" name="legalEntityOwnerId"
                            <% if (oldInput.legalEntityOwnerId) { %> 
                                value="<%= oldInput.legalEntityOwnerId %>"
                            <% } else if (owner && owner.legalEntity.shortName) { %>
                                value="<%= owner.legalEntity._id %>"   
                            <% } %>>
                    </div>
                </div>
                <div class="row">
                    <div id="customerFormGroup" class="form-group col-4">
                        <label for="device">Устройство<span style="color:red;">*</span></label>
                        <div class="input-group">
                            <input required class="form-control" id="device" name="device" placeholder="Поиск по SN и IMEI" 
                                <% if (oldInput.device) {%> 
                                    value="<%= oldInput.device %>"
                                <% } else if (device) { %>
                                    value="<%= `${device.type} ${device.manufacturer} ${device.model}, sn: ${device.sn}`%>" 
                                <% } %>>
                            <!-- <div class="input-group-append">
                                <button class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#deviceModal"><i class="fas fa-plus"></i></button>
                            </div>  -->
                        </div>
                        <input class="form-control" type="hidden" id="deviceId" name="deviceId" 
                            <% if (oldInput.deviceId) { %> 
                                value="<%= oldInput.deviceId %>"
                            <% } else if (device) { %>
                                value="<%= device._id %>" 
                            <% } %>>
                    </div>
                    <div class="form-group col-4">
                        <label for="orderType">Тип Ремонта</label>
                        <select class="custom-select" id="orderType" name="orderType"
                            value="<%= oldInput.orderType %>">
                            <% for (let type of orderTypes) { %>
                            <option><%= type.title %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="deviceAppearance">Внешний вид, состояние<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control focusedInput" id="deviceAppearance" name="deviceAppearance"
                            value="<%= oldInput.deviceAppearance %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="setStandard">Комплектность<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="setStandard" name="setStandard"
                            value="<%= oldInput.setStandard %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        <label for="statedMalfunction">Заявленная неисправность<span style="color:red;">*</span></label>
                        <textarea required class="form-control" id="statedMalfunction" name="statedMalfunction" rows="3"><%= oldInput.statedMalfunction %></textarea>
                    </div>
                </div>
                <div class="row">                   
                        <div class="col-4">
                            <label for="conditionCode">Код условия</label>                            
                        </div>
                        <div class="col-4">
                            <label for="symptomCode">Код симптома</label>                              
                        </div>                   
                </div>
                <div class="row" style="margin-bottom: 1rem;">
                    <div class="col-4">                        
                        <select class="selectpicker" id="conditionCode" name="conditionCode"
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                            <option></option>
                            <% for (let code of conditionCodes) { %>                                    
                                <option>
                                    <%= code.title %>
                                </option>
                            <% } %>
                        </select>      
                    </div>
                    <div class="col-4">                        
                        <select class="selectpicker" id="symptomCode" name="symptomCode"
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                            <option></option>
                            <% for (let code of symptomCodes) { %>                                    
                                <option>
                                    <%= code.title %>
                                </option>
                            <% } %>
                        </select>      
                    </div>          
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="state">Статус Ремонта</label>
                        <select class="custom-select" id="state" name="state"
                            value="<%= oldInput.state %>">
                            <% for (let state of states) { %>
                            <option><%= state %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <script src="/js/autocomplete.js"></script>
    <script src="/js/radios.js"></script>
    <script src="/js/for_modals/autocomplete.js"></script>
    <script src="/js/for_modals/radios.js"></script>

    <%- include('../includes/footer.ejs') %>

<script type="text/javascript">
    window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
</script>
        