<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/checkboxes.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="modal fade" id="mass-issue-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/orders/mass-issue" method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Массовая выдача</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <% if (modal.sameCustomerMessage) { %>
                <div class="alert alert-danger"><%= modal.sameCustomerMessage %></div>
                <input required class="form-control" id="transferCustomer" name="transferCustomer" placeholder="Единый получатель">
                <% } %>
              </div>
              <div>
                <input type="checkbox" name="status" id="status" class="form-check-input" <%= modal.status ? 'checked' : '' %>>
                <label for="status">Изменить статус устройств</label>
              </div>
              <div>
                <input type="checkbox" name="actOfTransfer" id="actOfTransfer" class="form-check-input" <%= modal.actOfTransfer ? 'checked' : '' %>>
                <label for="actOfTransfer">Печатать акт передачи</label>
              </div>
              <input type="hidden" name="items" id="items" value="<%= modal.items ? modal.items : '' %>">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Выдать</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>

              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h2><a href="/orders/add/"><i class="fas fa-plus"></i></a> Ремонты</h2>
        </div>        
      </div>
      <hr>
    </div>
    <div class="container">
      <%- include('../includes/filters/advanced_search.ejs') %>
    </div>
    <div class="row" style="width: 90%; margin-left: auto; margin-right: auto;">
      <% if (orders.length > 0) { %>
      <table class="table table-striped table-bordered" id="order-table">
        <thead>
          <tr>
            <th scope="col" style="padding: 1em"><input type="checkbox" class="form-check-input" id="checkAll">&nbsp;&nbsp;</th>
            <th scope="col">#</th>
            <th scope="col">Тип ремонта</th>
            <th scope="col">В СЦ</th>
            <th scope="col">Клиент</th>
            <th scope="col">Устройство</th>
            <th scope="col">Серийный номер</th>
            <th scope="col">Номер в базе СП</th>
            <th scope="col">Заявленная неисправность</th>            
            <th scope="col">Статус ремонта</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <% let i = 0; %>
          <% for (let order of orders) { %>
          <tr>
            <td style="padding: 1em">
              <input type="checkbox" class="form-check-input" id="check<%= i %>">
            </td>
            <th scope="row"><a href="/orders/view/<%= order._id %>"><%= order.orderNo %></a></th>
            <td>
              <%= order.type.title %>
            </td>
            <td><%= timePassedVerbose(order.createdAt, new Date()) %></td>
            <td>
              <% if (order.customer.individual.lastName) { %>
              <a href="/customers/view/<%= order.customer.individual._id %>" target="_blank"></a><%= `${order.customer.individual.lastName} ${order.customer.individual.firstName} ${order.customer.individual.middleName}` %></a>
              <% } %>
              <% if (order.customer.legalEntity.shortName) { %>
              <%= `${order.customer.legalEntity.shortName} (${order.customer.legalEntity.fullName})` %>
              <% } %>
            </td>
            <td><%= `${order.device.type} ${order.device.manufacturer} ${order.device.model}` %></td>
            <td><%= order.device.sn %></td>
            <td><%= order.providerOrderId %></td>
            <td><%= order.statedMalfunction %></td>            
            <td><%= order.state %></td>
            <td class="text-center align-middle">
              <div class="dropdown d-inline table-action-button">
                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a class="dropdown-item" href="/orders/view/<%= order._id %>">Просмотр</a>
                  <a class="dropdown-item" href="/orders/edit/<%= order._id %>">Изменить</a>
                  <% if (order.customer.individual.lastName) { %>
                  <a class="dropdown-item" href="/customers/view/<%= order.customer.individual._id %>">Перейти к
                    Клиенту</a>
                  <% } %>
                  <% if (order.customer.legalEntity.shortName) { %>
                  <a class="dropdown-item" href="/legal-entities/view/<%= order.customer.legalEntity._id %>">Перейти к
                    Клиенту</a>
                  <% } %>
                  <a class="dropdown-item" href="/devices/view/<%= order.device._id %>">Перейти к
                    устройству</a>
                  <a class="dropdown-item" href="/orders/print/work-order/<%= order._id %>" target="_blank">Печать
                    Заявки</a>
                  <a class="dropdown-item" href="/orders/print/act-of-acceptance/<%= order._id %>" target="_blank">Печать Акта
                    Выполненных Работ</a>
                  <% if(["Admin"].includes(userData.role)) { %>
                  <form action="/orders/delete" method="POST">
                    <input type="hidden" value="<%= order._id %>" name="orderId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="dropdown-item" type="submit">Удалить</button>
                  </form>
                  <% } %>
                </div>
              </div>
            </td>
          </tr>
          <% i++; %>
          <% } %>
        </tbody>
      </table>
      <div class="row" style="margin-top: 1em; width: 100%">
        <div class="col-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mass-issue-modal">
            Массовая выдача
          </button>
        </div>
      </div>
      <% } else { %>
      <h4>Ремонты не найдены!</h4>
      <% } %>
    </div>
    </div>
  </main>

  <% if (modal.open){ %>
  <script>
    document.querySelector('[data-target="#mass-issue-modal"]').click();
  </script>
  <% } %>


  <script src="/js/orderIndex.js"></script>

  <script src="/js/massIssue.js"></script>

  <%- include('../includes/footer.ejs') %>