<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/dropArea.css">

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="container">
      <di lass="row">
        <div class="col-12">
          <%- include('../includes/alert_messages') %>
        </div>
    </div>
    <!-- <div class="row">
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 15%">Продление гарантии</div>    
                        <div class="progress-bar bg-info" role="progressbar" style="width: 15%">Диагностика</div>                        
                        <div class="progress-bar" role="progressbar" style="width: 15%">Ожидание запчастей</div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: 5%">Ремонт</div>
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%">Выдача</div>
                    </div>
                </div>               
            </div>
            <hr> -->
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h1>Ремонт №<%= order.orderNo %>
          </h1>
          <div>
            <h2>
              <%= order.type.title %>
            </h2>
          </div>
          <% if(previousOrders.length> 1) { %>
          <p>
            <button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#previousOrdersModal">Повторный</button>
          </p>
          <% } %>
          <div class="alert alert-primary">
            <h3>
              <%= order.state %>
            </h3>
          </div>
          <div class="alert alert-primary">
            <h6>
              В СЦ: <%= inRepairSince %>
            </h6>
          </div>
          <div>
            <h6><span class="badge badge-secondary">
                <%= `Создан: ${order.createdBy.name.last} ${order.createdBy.name.first}
                                                    ${order.createdAt.toLocaleDateString('ru-RU', dateOptions)} `%>
              </span>
            </h6>
            <h6><span class="badge badge-secondary">
                <%= `Изменён: ${order.updatedBy.name.last} ${order.updatedBy.name.first}
                                                    ${order.updatedAt.toLocaleDateString('ru-RU', dateOptions)} `%>
              </span>
            </h6>
          </div>
          <div>
            <form class="dropArea" action="/orders/add-file" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="filesList">Прикреплённые файлы:</label>
                <ul id="filesList">
                  <% for(file of order.attachedFiles) { %>
                  <li>
                    <a href="/orders/uploads/<%= file.longTitle %>">
                      <%=file.shortTitle %>
                    </a>
                  </li>
                  <% } %>
                </ul>
                <div class="alert alert-light" role="alert">
                  <p>Прикрепить файлы</p>
                  <input type="file" id="input" name="addFile" multiple accept=".png, .jpg, .jpeg, .pdf, .xls, .xlsx, .txt, .doc, .docx">
                  <input hidden id="orderId" name="orderId" value="<%= order._id %>" />
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </div>
                <button class="btn btn-primary" type="submit">Добавить</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-8">
          <div class="btn-group btn-group d-flex" role="group">
            <!-- <a href="/orders/add/" class="btn btn-outline-primary"><i class="fas fa-plus"></i>
              Добавить</a> -->
            <a href="/orders/edit/<%= order._id %>" class="btn btn-outline-primary"><i class="fas fa-edit"></i>
              Изменить</a>
            <a href="#" data-toggle="modal" data-target="#detailedViewModal" class="btn btn-outline-primary"><i class="fas fa-info-circle"></i>
              Подробно</a>
            <div class="btn-group">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-reply"></i>
                Оповестить
              </button>
              <div class="dropdown-menu">
                <form action="/orders/send-sms/" method="POST">
                  <input type="submit" class="dropdown-item <% if(!smsRuApi) { %> disabled <% } %>" value="SMS">
                  <input type="hidden" name="phone" value="<%= customer.phone %>">
                  <input type="hidden" name="orderId" value="<%= order._id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
                <form action="/orders/send-email/" method="POST">
                  <input type="submit" class="dropdown-item <% if(!mailgunApi) { %> disabled <% } %>" value="E-mail">
                  <input type="hidden" name="email" value="<%= customer.email %>">
                  <input type="hidden" name="orderId" value="<%= order._id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              </div>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-print"></i> Печать
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/orders/print/work-order/<%= order._id %>" target="_blank">Заявка</a>
                <a class="dropdown-item <% if (order.issueNote && !order.issueNoteSubmitted) { %> dropdown-item popover-issue-note disabled<% } %>" href="/orders/print/act-of-acceptance/<%= order._id %>" target="_blank">Акт
                  Выполненных Работ</a>
                <% if (manufacturer.nonRepairableActPrint && order.type.warranty) { %>
                <a class="dropdown-item disabled" href="/orders/print/nrp-act/<%= order._id %>" target="_blank">Акт НРП</a>
                <% } %>
              </div>
            </div>
            <a href="javascript:history.back()" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Назад</a>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <p>
              <div class="nav flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-main-tab" data-toggle="pill" href="#v-pills-main" role="tab" aria-controls="v-pills-main" aria-selected="false">Основная информация
                </a>
                <a class="nav-link" id="v-pills-repair-tab" data-toggle="pill" href="#v-pills-repair" role="tab" aria-controls="v-pills-repair" aria-selected="false">Ремонт
                </a>
                <!--                 <a class="nav-link" id="v-pills-spareparts-tab" data-toggle="pill" href="#v-pills-spareparts" role="tab" aria-controls="v-pills-spareparts" aria-selected="false">Запчасти
                </a> -->
                <a class="nav-link" id="v-pills-negotiation-tab" data-toggle="pill" href="#v-pills-negotiation" role="tab" aria-controls="v-pills-negotiation-extension" aria-selected="false">Согласование
                </a>
                <% if (!order.type.warranty) { %>
                <a class="nav-link" id="v-pills-calculations-tab" data-toggle="pill" href="#v-pills-calculations" role="tab" aria-controls="v-pills-calculations" aria-selected="false">Оплаты / расходы
                </a>
                <% } %>
                <a class="nav-link" id="v-pills-history-tab" data-toggle="pill" href="#v-pills-history" role="tab" aria-controls="v-pills-history" aria-selected="false">История
                </a>
              </div>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-main" role="tabpanel" aria-labelledby="v-pills-main-tab">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row">Клиент</th>
                        <td>
                          <% if (customer.type=="Individual" ) { %>
                          <a href="/customers/view/<%= order.customer.individual._id %>" target="_blank">
                            <%= `${ customer.fullName }` %>
                          </a>
                          <% } %>
                          <% if (customer.type=="Legal Entity" ) { %>
                          <a href="/legal-entities/view/<%= order.customer.legalEntity._id %>" target="_blank">
                            <%= `${ customer.fullName }` %>
                            <% } %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Устройство</th>
                        <td>
                          <a href="#" data-toggle="modal" data-target="#deviceViewModal">
                            <%= `${order.device.type} ${order.device.manufacturer} ${order.device.model}` %>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Серийный номер</th>
                        <td>
                          <%= order.device.sn %>
                          <% if (order.device.prevSns.length && order.device.prevSns[order.device.prevSns.length - 1] !== "") { %>
                            (ранее <%= order.device.prevSns[order.device.prevSns.length - 1] %>)
                          <% } %>
                        </td>
                      </tr>                     
                      <tr>
                        <th scope="row">Номер в базе сервис-провайдера</th>
                        <td>
                          <%= order.providerOrderId %>
                        </td>
                      </tr>
                      <% if(order.type.warranty) { %>
                      <tr>
                        <th scope="row">Продление гарантии</th>
                        <td>
                          <%= order.warrantyExtensionState %>
                        </td>
                      </tr>
                      <% } %>
                      <tr>
                        <th scope="row">Заявленная неисправность</th>
                        <td>
                          <%= order.statedMalfunction %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Комплектация</th>
                        <td>
                          <%= order.setStandard %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Состояние</th>
                        <td>
                          <%= order.deviceAppearance %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Комментарий сотрудника СЦ</th>
                        <td>
                          <%= order.issueNote %><br>
                          <% if (order.issueNoteSubmitted) { %>
                          <button class="btn btn-success" style="margin-top: 1rem;"><i class="fas fa-smile-beam"></i>
                            Комментарий утверждён</button>
                          <% } else if (order.issueNote && !order.issueNoteSubmitted) { %>
                          <button class="btn btn-danger" style="margin-top: 1rem;" data-toggle="modal" data-target="#issueNoteSubmitModal"><i class="fas fa-angry"></i>
                            Комментарий не утверждён</button>
                          <% } %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="v-pills-repair" role="tabpanel" aria-labelledby="v-pills-repair-tab">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row">Код условия</th>
                        <td>
                          <%= order.codes.conditionCode.title %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Код симптома</th>
                        <td>
                          <%= order.codes.symptomCode.title %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Выявленные неисправности</th>
                        <td>
                          <ul>
                            <% for (let i=0; i < order.codes.sectionCode.length; i+=1) { %>
                            <li>
                              <%= order.codes.sectionCode[i]?.title %> - <%= order.codes.defectCode[i]?.title %>
                            </li>
                            <% } %>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Выполненные работы</th>
                        <td>
                          <ul>
                            <% for (let i=0; i < order.codes.repairCode.length; i+=1) { %>
                            <% if (order.spareParts[i].state !== 'Прислана неисправной' && order.spareParts[i].state !=='Не использовалась') { %>
                            <li>
                              <%= order.codes.sectionCode[i].title %> -
                              <%= order.codes.repairCode[i].title %>
                            </li>
                            <% } %>
                            <% } %>
                          </ul>
                        </td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="v-pills-spareparts" role="tabpanel" aria-labelledby="v-pills-spareparts-tab">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row">Заказанные запчасти</th>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="v-pills-negotiation" role="tabpanel" aria-labelledby="v-pills-negotiation-tab">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row">Что согласовываем</th>
                        <td><%= order.negotiation.theme %></td>
                      </tr>
                      <tr>
                        <th scope="row">С кем согласовываем</th>
                        <td><%= order.negotiation.object %></td>
                      </tr>
                      <tr>
                        <th scope="row">Сроки</th>
                        <td><%= order.negotiation.terms?.toLocaleDateString('ru-RU', dateOptions) %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="v-pills-calculations" role="tabpanel" aria-labelledby="v-pills-calculations-tab">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row">Конечная стоимость</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">Себестоимость</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">Внесённые оплаты</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">Доход с ремонта</th>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="v-pills-history" role="tabpanel" aria-labelledby="v-pills-history-tab">
                  <% for (stage of order.history) { %>
                  <div class="alert alert-primary" role="alert">
                    <% if(stage.state) { %>
                    <%= `${stage.begin?.toLocaleDateString('ru-RU', dateOptions)} ${stage.by?.firstName} ${stage.by?.lastName} перевёл(а) ремонт в статус ${stage.state}` %>
                    <% } else if (stage.parameter) { %>
                    <%= `${stage.parameter.when?.toLocaleDateString('ru-RU', dateOptions)} ${stage.parameter.by?.firstName} ${stage.parameter.by?.lastName}: "${stage.parameter?.title}" был ${stage.parameter?.action}` %>
                    <% } %>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <h2>Комментарии</h2>
      <% if (comments.length) { %>
      <% for (let comment of comments) { %>
      <div class="card" style="margin: 1rem;">
        <div class="card-body">
          <p class="card-title">
            <%= `${comment.createdBy.name.first} ${comment.createdBy.name.last}, добавлен ${comment.createdAt.toLocaleDateString('ru-RU', dateOptions)}` %>
          </p>
          <h5 class="card-text">
            <%= comment.commentBody %>
          </h5>
          <div class="text-right">
            <% if(userData.role==="Admin" ) { %>
            <form action="/comments/delete" method="POST">
              <input type="hidden" value="<%= comment._id %>" name="commentId">
              <input type="hidden" name="entityName" id="entityName" value="request">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn btn-danger" type="submit">Удалить</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
      <% } else { %>
      <div class="row" style="margin: 2em;">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            Нет комментариев
          </div>
        </div>
      </div>
      <% } %>
      <hr>
      <form action="/comments/add" method="POST" style="margin: 1rem;">
        <div class="form-group">
          <textarea class="form-control" id="commentBody" name="commentBody" rows="3"></textarea>
        </div>
        <input type="hidden" name="entityName" id="entityName" value="order">
        <input type="hidden" name="entityId" id="entityId" value="<%= order._id %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary">Добавить комментарий</button>
      </form>
    </div>
  </main>


  <%- include('../device/modals/device_view.ejs') %>
  <%- include('modals/previous_orders.ejs') %>
  <%- include('modals/detailed_view.ejs') %>
  <%- include('modals/issue_note_submit.ejs') %>
  <%- include('../includes/footer.ejs') %>

  <script src="/js/drop-area.js"></script>

  <script src="/js/clipboard.min.js"></script>
  <script>
    new ClipboardJS('.btn');

    // enable popover on print act of acceptance hover
    $(function() {
      $('.popover-issue-note').popover({
        container: 'body'
      })
    })
  </script>