<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить тип ремонта</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/order-types/add" method="POST">
                <div class="row">
                    <div class="col-6">
                        <label for="title">Наименование<span style="color:red;">*</span></label>
                        <input  type="text" class="form-control" id="title" name="title"
                            value="<%= oldInput.title %>">
                    </div>                    
                </div>
                <div class="row" style="margin-top: 1rem;">
                    <div class="col">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="warranty" name="warranty"
                                <%= oldInput.warranty ? 'value=on checked' : '' %>>
                            <label class="custom-control-label" for="warranty">
                                Гарантийный ремонт
                            </label>
                        </div>     
                    </div>                    
                </div>    
                <div class="row" style="margin-top: 1rem;">
                    <div class="col">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="isActive" name="isActive"
                                <%= oldInput.isActive ? 'value=on checked' : '' %>>
                            <label class="custom-control-label" for="isActive">
                                Активен
                            </label>
                        </div>     
                    </div>                    
                </div>                           
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>