<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Изменить тип ремонта</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/order-types/edit" method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="name">Наименование</label>
                        <input type="text" class="form-control" id="title" name="title"
                            value="<%= oldInput.title ? oldInput.title : orderType.title %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="warranty" name="warranty"
                                <%= orderType.warranty ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="warranty">
                                Гарантиный ремонт
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="isActive" name="isActive"
                                <%= orderType.isActive ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="isActive">
                                Активен
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="name">Приоритет</label>
                        <input type="text" pattern="[0-9]{1,3}" maxlength="3" class="form-control" id="priority" name="priority" placeholder="1-100"
                            value="<%= oldInput.priority ? oldInput.priority : orderType.priority %>">
                    </div>
                </div>
                <input type="hidden" name="orderTypeId" id="orderTypetId" value="<%= orderType._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>