<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/order-types/add/"><i class="fas fa-plus"></i></a> Типы ремонта</h2>
                </div>                
            </div>
            <hr>
            <% if (orderTypes.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Приоритет</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Гарантийный</th>
                        <th scope="col">Активен</th>
                        <th scope="col">Системный</th>
                        <th scope="col">Действия</th>

                    </tr>
                </thead>
                <tbody>
                    <%for (let type of orderTypes) { %>
                    <tr>
                        <td><%= type.priority %></td>
                        <td><%= type.title %></td>
                        <td><i class="<%= type.warranty ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td><i class="<%= type.isActive ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td><i class="<%= type.isSystem ? 'fas fa-check':'fas fa-times'%>"></i></td>                        
                        <td class="text-center align-middle">                           
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">                                    
                                    <a class="dropdown-item" href="/order-types/edit/<%= type._id %>">Изменить</a>                              
                                    <%if (!type.isSystem) { %>
                                        <form action="/order-types/delete" method="POST">
                                            <input type="hidden" value="<%= type._id %>" name="orderTypeId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="dropdown-item" type="submit">Удалить</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </td>            
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Типы ремонтов не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>