<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить код дефекта</h1>
            <%- include('../../includes/alert_messages.ejs') %>
            <form action="/defect-codes/add" method="POST">
                <div class="row">
                    <div class="col-2">
                        <label for="code">Код<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="code" name="code"
                            value="<%= oldInput.code %>">
                    </div>
                    <div class="col-4">
                        <label for="title">Наименование<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="title" name="title"
                            value="<%= oldInput.title %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <hr>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>
                    Назад</a>
            </form>
        </div>
    </main>

    <%- include('../../includes/footer.ejs') %>