<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Изменить код дефекта</h1>
            <%- include('../../includes/alert_messages.ejs') %>
            <form action="/defect-codes/edit" method="POST">
                <label for="code">Код<span style="color:red;">*</span></label>
                <input required type="text" class="form-control" id="code" name="code" 
                    value="<%= oldInput.code ? oldInput.code : defectCode.code %>">
                <label for="title">Наименование<span style="color:red;">*</span></label>
                <input required type="text" class="form-control" id="title" name="title" 
                    value="<%= oldInput.title ? oldInput.title : defectCode.title %>">
                <input type="hidden" value="<%= defectCode._id %>" name="defectCodeId">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <%- include('../../includes/footer.ejs') %>