<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/device-types/add/"><i class="fas fa-plus"></i></a> Типы устройств</h2>
                </div>                
            </div>
            <hr>
            <% if (deviceTypes.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (let deviceType of deviceTypes) { %>
                    <tr>
                        <td>
                            <%= deviceType.name %>

                        </td>
                        <td class="text-center align-middle">                           
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">                                    
                                    <a class="dropdown-item" href="/device-types/edit/<%= deviceType._id %>">Изменить</a>                                 
                                    <form action="/device-types/delete" method="POST">
                                        <input type="hidden" value="<%= deviceType._id %>" name="deviceTypeId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </td>                        
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Типы устройств не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>