<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить производителя</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/manufacturers/edit" method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="title">Наименование<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="title" name="title"
                            value="<%= manufacturer.title %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="isOfficiallyAuthorized"
                                name="isOfficiallyAuthorized"
                                <%= manufacturer.isOfficiallyAuthorized ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="isOfficiallyAuthorized">
                                Официальная авторизация
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="nonRepairableActPrint"
                                name="nonRepairableActPrint"
                                <%= manufacturer.nonRepairableActPrint ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="nonRepairableActPrint">
                                Печать актов НРП
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="warrantyExtensionProcedure"
                                name="warrantyExtensionProcedure" <%= manufacturer.warrantyExtensionProcedure ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="warrantyExtensionProcedure">
                                Процедура продления гарантии
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="trackSpareParts"
                                name="trackSpareParts" <%= manufacturer.trackSpareParts ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="trackSpareParts">
                                Вести учёт запчастей
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type="hidden" name="manufacturerId" value="<%= manufacturer._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <hr>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>
                    Назад</a>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>