<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/manufacturers/add/"><i class="fas fa-plus"></i></a> Производители</h2>
                </div>                
            </div>
            <hr>
            <% if (manufacturers.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Официальная авторизация</th>
                        <th scope="col">Печать актов НРП</th>
                        <th scope="col">Продление гарантии</th>
                        <th scope="col">Учёт запчастей</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let manufacturer of manufacturers) { %>
                    <tr>
                        <td><%= manufacturer.title %></td>
                        <td><i class="<%= manufacturer.isOfficiallyAuthorized ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td><i class="<%= manufacturer.nonRepairableActPrint ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td><i class="<%= manufacturer.warrantyExtensionProcedure ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td><i class="<%= manufacturer.trackSpareParts ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td class="text-center align-middle">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item"
                                        href="/manufacturers/edit/<%= manufacturer._id %>">Изменить</a>
                                    <form action="/manufacturers/delete" method="POST">
                                        <input type="hidden" value="<%= manufacturer._id %>" name="manufacturerId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>

                </tbody>
            </table>
            <% } else { %>
            <h1>Производители не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>