<div class="row">
    <div class="form-group col-4">
        <label for="shortName">Краткое наименование<span style="color:red;">*</span></label>
        <input required type="text" class="form-control" id="shortName" name="shortName"
            value="<%= oldInput.shortName %>">
    </div>
    <div class="form-group col-4">
        <label for="fullName">Полное наименование<span style="color:red;">*</span></label>
        <input required type="text" class="form-control" id="fullName" name="fullName"
            value="<%= oldInput.fullName %>">
    </div>                    
</div>
<div class="row">
    <div class="form-group col-4">
        <label for="city">Город</label>
        <input type="text" class="form-control" id="city" name="city"
            value="<%= oldInput.city %>">
    </div>
    <div class="form-group col-4">
        <label for="street">Улица</label>
        <input type="text" class="form-control" id="street" name="street"
            value="<%= oldInput.street %>">
    </div>
    <div class="form-group col-4">
        <label for="house">Дом</label>
        <input type="text" class="form-control" id="house" name="house"
            value="<%= oldInput.house %>">
    </div>
</div>
<div class="row">
    <div class="form-group col-4">
        <label for="phone">Телефон<span style="color:red;">*</span></label>
        <input required type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" 
            class="form-control" id="phone" name="phone"
            value="<%= oldInput.phone %>">
    </div>
    <div class="form-group col-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email"
            value="<%= oldInput.email %>">
    </div>
</div>
<div class="row">
    <div class="custom-control custom-switch">
        <input class="custom-control-input" type="checkbox" id="isDealer" name="isDealer"
            <%= oldInput.isDealer ? 'value=on checked'  : '' %>>
        <label class="custom-control-label" for="isDealer">
            Является Дилером
        </label>
    </div>   
</div>   