<body>
  <table style="margin-bottom: 55vh">
    <tr id="order-header">
      <td colspan="4">Акт Выполненных Работ №<%= order.orderNo %>
      </td>
    </tr>
    <tr>
      <td class="cell">
        <p class="cell-header">Заказчик:</p>
      </td>
      <td class="cell" colspan="3">
        <%= customerName %>
      </td>
    </tr>
    <tr>
      <td class="cell">
        <p class="cell-header">Контактный телефон:</p>
      </td>
      <td class="cell">
        <%= customerPhone %>
      </td>
      <td class="cell">
        <p class="cell-header">Email:</p>
      </td>
      <td class="cell">
        <%= customerEmail %>
      </td>
    </tr>
    <tr>
      <td class="cell">
        <p class="cell-header">Дата приёма:</p>
      </td>
      <td class="cell">
        <%= createdAt %>
      </td>
      <td class="cell">
        <p class="cell-header">Тип ремонта:</p>
      </td>
      <td class="cell">
        <%= order.type.title %>
      </td>
    </tr>
    <tr>
      <td class="cell">
        <p class="cell-header">Модель:</p>
      </td>
      <td class="cell">
        <%= `${order.device.type} ${order.device.manufacturer} ${order.device.model}` %>
      </td>
      <td class="cell">
        <p class="cell-header">Серийный номер:</p>
      </td>
      <td class="cell">
        
        <%= order.device.sn %>
        <% if (order.device.prevSns.length && order.device.prevSns[order.device.prevSns.length - 1] !== "") { %>
          (ранее <%= order.device.prevSns[order.device.prevSns.length - 1] %>)
        <% } %>
      </td>
    </tr>
    <tr>
      <td class="cell">
        <p class="cell-header">Комплектность:</p>
      </td>
      <td class="cell">
        <%= order.setStandard %>
      </td>
      <td class="cell">
        <p class="cell-header">
          Внешний вид, состояние устройства:
        </p>
      </td>
      <td class="cell">
        <%= order.deviceAppearance %>
      </td>
    </tr>
    <tr>
      <td class="cell">
        <p class="cell-header">Неисправность со слов Клиента:</p>
      </td>
      <td class="cell" colspan="4">
        <%= order.statedMalfunction %>
      </td>
    </tr>
    <tr>
      <td class="cell">
        <p class="cell-header">Произведённые работы:</p>
      </td>
      <td class="cell" colspan="4">
        <% if (order.codes.sectionCode.length> 0) { %>
        <%for (fault of order.codes.sectionCode) { %>
        <% const i=order.codes.sectionCode.indexOf(fault); %>
        <div class="row" style="margin-bottom: 1rem;">
          <%= order.codes.sectionCode[order.codes.sectionCode.indexOf(fault)].title %> -
          <% if(order.codes.repairCode[i]) { %>
          <%= order.codes.repairCode[i].title %>;
          <% } %>
          <% } %>
          <% } %>
      </td>
    </tr>
    <% if (!order.type.warranty) { %>
    <tr>
      <td class="cell">
        <p class="cell-header">Стоимость работ:</p>
      </td>
      <td class="cell" colspan="4">
        <%= totalRepairCost %>
      </td>
    </tr>
    <% } %>
    <tr>
      <td class="cell">
        <p class="cell-header">Дополнительный комментарий:</p>
      </td>
      <td class="cell" colspan="4">
        <%= order.issueNote %>
      </td>
    </tr>
    <tr>
      <td class="cell">
        <p class="cell-header">Дата окончания ремонта:</p>
      </td>
      <td class="cell" colspan="1">
        <%= completedAt %>
      </td>
      <td class="cell">
        <p class="cell-header">Дата выдачи:</p>
      </td>
      <td class="cell" colspan="1">
        <%= issuedAt %>
      </td>
    </tr>
    <tr>
      <td class="cell-signature" colspan="2">
        <p>
          Аппарат выдал: <%= `${userData.name.last} ${userData.name.first}` %>
        </p>
        <p>_________________Подпись представителя СЦ</p>
      </td>
      <td class="cell-signature" colspan="2">
        <p id="conditions">
          С условиями обслуживания ознакомлен и полностью согласен. Изделие получено и проверено.
          Претензий не
          имею.
        </p>
        <p>_________________________Подпись Заказчика</p>
      </td>
    </tr>
  </table>

</body>