<%- include('../includes/company_information.ejs') %>
<table style="margin-top: 2vh">
  <thead>
    <tr style="text-align: left">
      <th colspan="2">Отправитель:</th>
      <td><%= company.title.full || customerName %></td>
    </tr>
    <tr style="text-align: left">
      <th colspan="2">Получатель:</th>
      <td><%= orders[0].customer.legalEntity.fullName %></td>
    </tr>
    <tr id="order-header">
      <td colspan="4">
        Акт приёма передачи б/н от <%= new
                Date().toLocaleDateString('ru-RU', { day: "numeric", month:
                "2-digit", year: "numeric", }) %>
      </td>
    </tr>
    <tr>
      <th class="cell">#</th>
      <th class="cell">Код</th>
      <th class="cell">Наименование устройства</th>
      <th class="cell">Серийный номер</th>
    </tr>
  </thead>
  <tbody>
    <% let i = 1 %> <% for (let order of orders) { %>
    <tr style="text-align: center">
      <td class="cell" style="width: 10%"><%= i %></td>
      <td class="cell" style="width: 10%"><%= order.orderNo %></td>
      <td class="cell">
        <%= `${order.device.type} ${order.device.manufacturer}
                ${order.device.model}`%>
      </td>
      <td class="cell">
        <%= order.device.sn %>
        <% if (order.device.prevSns?.length &&
                order.device.prevSns[order.device.prevSns?.length - 1] !== "") { %> (ранее
        <%= order.device.prevSns[order.device.prevSns?.length - 1] %>) <% } %>
      </td>
    </tr>
    <% i += 1 %> <% } %>
  </tbody>
</table>

<table style="margin-bottom: 80vh; margin-top: 10vh">
  <tr>
    <td>Отпустил__________________________ М.П.</td>
    <td>Получил___________________________ М.П.</td>
  </tr>
</table>