<table style="border-collapse: collapse; border: medium none rgb(255, 255, 255);">
    <tbody>
        <tr>
            <td width=600 colspan=5 style='width:400.3pt; border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.7pt'>
              <p><img src="/img/logo.png" width="100" height="100"  style="float: left";alt=""></p>
              <p class=MsoNormal style='text-align:right'><span style='font-size:9.0pt;'><font face="PlumbC, serif">
                ООО «Ф1»<br>
                Владивосток, ул. Прапорщика Комарова, 25/1<br>
                Тел.: (423)202-52-55<br>
                E-mail: info@f1-service.pro<br>
                www.f1-service.pro</span>
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="width: 258.15pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-family:"Calibri Light",sans-serif;'>Расписка №<%= orderNo %></span></p>
            </td>
            <td style="width: 251.3pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;text-align:right;'><span style='font-family:"Calibri Light",sans-serif;'><%= new Date().toLocaleDateString('ru-RU') %></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width: 509.45pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:  0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;margin-top:12.0pt;'><strong><span style='font-family:"Calibri Light",sans-serif;'>Я, <%= `${lastName} ${firstName} ${middleName}` %></span></strong></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><strong><span style='font-family:"Calibri Light",sans-serif;'>паспорт <%= passportSeries %>, <%= passportNo %>, выдан <%= givenBy %>,</span></strong></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><strong><span style='font-family:"Calibri Light",sans-serif;'><%= passportDate %>, зарегистрирован по адресу: <%= registeredAt %></span></strong></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><strong><span style='font-family:"Calibri Light",sans-serif;'>проживающий по адресу: <%= livesAt %></span></strong></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-family:"Calibri Light",sans-serif;'>получил от ООО &laquo;Ф1&raquo; в соответствии с п. 2. ст. 20 (п. 1 ст. 21) Закона РФ &laquo;О защите прав потребителей&raquo; на период ремонта моего товара (далее - &laquo;Собственный товар&raquo;) товар надлежащего качества:</span></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-family:"Calibri Light",sans-serif;'><%= `${device.type} ${device.manufacturer} ${device.model}, Серийный Номер ${device.sn}` %> (далее - &laquo;Подменный товар&raquo;)</span></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;margin-top:0cm;'><span style='font-family:"Calibri Light",sans-serif;'>в следующей комплектации: аппарат с АКБ и задней крышкой</span></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-family:  "Calibri Light",sans-serif;'>Переданный Подменный товар исправен, не имеет дефектов внешнего вида / имеет дефекты внешнего вида:&nbsp;</span></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;text-align:right;'><span style='font-family:"Calibri Light",sans-serif;'>(нужное подчеркнуть, при наличии дефектов - указать их)</span></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-family:"Calibri Light",sans-serif;'>&nbsp;</span></p>
                <p style='margin-right:0cm;margin-left:  0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:12.0pt;margin-top:0cm;'><span style='font-family:"Calibri Light",sans-serif;'>Стоимость передаваемого Подменного товара составляет: 12490 руб. (двенадцать тысяч четыреста девяносто рублей).</span></p>
                <p style='margin-right:0cm;margin-left:  0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:12.0pt;margin-top:0cm;'><span style='font-family:"Calibri Light",sans-serif;'>Обязуюсь произвести возврат указанного Подменного товара в первоначальном состоянии с учетом нормального износа в день возврата Собственного товара из ремонта. В случае если Подменный товар не будет возвращен в установленный срок, обязуюсь выплатить стоимость данного товара, указанную в настоящей расписке. В случае возникновения повреждений Подменного товара по моей вине, обязуюсь возместить ущерб по фактической стоимости восстановительного ремонта, а в случае неремонтопригодности Подменного товара обязуюсь выплатить стоимость данного товара, указанную в настоящей расписке. Я уведомлен о необходимости создания резервной копии и последующего удаления моих данных с Подменного товара перед его возвратом. После возврата Подменного товара ООО &laquo;Ф1&raquo; осуществит сброс к заводским настройкам для защиты конфиденциальности вашей информации.</span></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-family:"Calibri Light",sans-serif;'>С условиями предоставления Подменного товара согласен,</span></p>
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;text-align:right;'><span style='font-family:"Calibri Light",sans-serif;'>&nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="4" style="width: 106.35pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;text-align:center;'><span style='font-family:"Calibri Light",sans-serif;'>М.П.</span></p>
            </td>
            <td colspan="2" style="width: 403.1pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;text-align:right;'><span style='font-family:"Calibri Light",sans-serif;'>___________________ / ____________________ /</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 403.1pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-size:13px;font-family:"Calibri Light",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(подпись клиента) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (ФИО клиента)</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 403.1pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;text-align:right;'><span style='font-family:"Calibri Light",sans-serif;'>___________________ / ____________________ /</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 403.1pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-family:"Calibri Light",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style='font-size:13px;font-family:"Calibri Light",sans-serif;'>(подпись сотрудника АСЦ) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (ФИО)</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width: 509.45pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:  0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;margin-top:12.0pt;'><span style='font-family:"Calibri Light",sans-serif;'>Подменный товар возвращен в первоначальном состоянии,</span></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 49.9pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;text-align:center;'><span style='font-family:"Calibri Light",sans-serif;'>М.П.</span></p>
            </td>
            <td colspan="3" style="width: 459.55pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;text-align:right;'><span style='font-family:"Calibri Light",sans-serif;'>______________________________________________ / ____________________ /</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="width: 459.55pt; border: medium none rgb(255, 255, 255); padding: 0cm 5.4pt; vertical-align: top;">
                <p style='margin-right:0cm;margin-left:0cm;font-size:16px;font-family:"Calibri",sans-serif;margin:0cm;margin-bottom:.0001pt;'><span style='font-size:13px;font-family:"Calibri Light",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(указать дату возврата) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (подпись сотрудника АСЦ) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (ФИО сотрудника)</span></p>
            </td>
        </tr>
    </tbody>
</table>