<table>
    <tr>
        <td colspan="4">
            <h3>Уважаемый Клиент!</h3>

            <p>
                Мы искренне надеемся, что Вы удовлетворены качеством и сроками произведённого нами ремонта. В
                случае,
                если у Вас имеются какие-либо претензии, либо предложения по улучшению качества предоставленных
                услуг, пожалуйста, сообщите
                нам об этом по адресу claim@f1lab.ru.
            </p>
            <p>
                Напоминаем, что у нас Вы также можете отремонтировать/настроить/почистить свой ноутбук, системный
                блок,
                смартфон,
                планшет, моноблок и другую цифровую технику. Мы меняем разбитые экраны, восстанавливаем технику
                после
                попадания влаги,
                перепаиваем usb-разъёмы, перепрошиваем, лечим от вирусов и т.д. Делаем это быстро, качественно и
                недорого. Все работы
                выполняются квалифицированными специалистами на профессиональном оборудовании.
            </p>
            <p>Хорошего Вам настроения!</p>
            <p>С уважением,
                команда Ф1 ЛАБ
            </p>
        </td>
    </tr>
</table>

