<body>
    <table>
        <tr id="order-header">
            <td colspan="4">Заявка №<%= order.orderNo %>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <p class="cell-header">Заказчик:</p>
            </td>
            <td class="cell" colspan="3">
                <%= customerName %>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <p class="cell-header">Контактный телефон:</p>
            </td>
            <td class="cell">
                <%= customerPhone %>
            </td>
            <td class="cell">
                <p class="cell-header">Email:</p>
            </td>
            <td class="cell">
                <%= customerEmail %>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <p class="cell-header">Дата приёма:</p>
            </td>
            <td class="cell">
                <%= order.createdAt.toLocaleDateString('ru-RU', dateOptions) %>
            </td>
            <td class="cell">
                <p class="cell-header">Тип ремонта:</p>
            </td>
            <td class="cell">
                <%= order.type.title %>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <p class="cell-header">Модель:</p>
            </td>
            <td class="cell">
                <%= `${order.device.type} ${order.device.manufacturer} ${order.device.model}` %>
            </td>
            <td class="cell">
                <p class="cell-header">Серийный номер:</p>
            </td>
            <td class="cell">
                <%= order.device.sn %>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <p class="cell-header">Комплектность:</p>
            </td>
            <td class="cell">
                <%= order.setStandard %>
            </td>
            <td class="cell">
                <p class="cell-header">
                    Внешний вид, состояние устройства:
                </p>
            </td>
            <td class="cell">
                <%= order.deviceAppearance %>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <p class="cell-header">Неисправность со слов Клиента:</p>
            </td>
            <td class="cell" colspan="4">
                <%= order.statedMalfunction %>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <p class="cell-header">Дополнительный комментарий:</p>
            </td>
            <td class="cell" colspan="4">
                <%= order.issueNote %>
            </td>
        </tr>
        <tr class="additional-info">
            <td colspan="4">
                <p>
                    Уважаемый Клиент! Просим Вас заранее ознакомиться со
                    следующей информацией:
                </p>
                <ol>
                    <li>
                        <p>
                            <b>Сервисный Центр не несёт ответственности за
                                любые данные, хранящиеся на Вашем
                                устройстве.</b>
                            В процессе ремонта нашим специалистам может
                            потребоваться произвести операции, которые
                            повлекут за собой полную потерю хранящейся на
                            устройстве информации. Поэтому рекомендуем
                            обязательно сделать резервную копию важных для
                            Вас данных перед тем, как сдавать устройство в
                            ремонт.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Сервисный Центр не несет ответственности за
                                сохранность и качество пленок, защитных
                                стекол и прочих подобных аксессуаров.</b>В процессе ремонта при необходимости
                            они могут
                            быть удалены.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Мы оповестим Вас об окончании ремонта с
                                помощью смс-сообщения или письма на
                                указанный Вами электронный ящик.</b>
                            Подписывая данную Заявку, Вы даёте своё согласие
                            на SMS-информирование об окончании ремонта.
                            Фактом оповещения является запись в нашей базе,
                            содержащая информацию об отправке. Полный ход
                            ремонта вы можете отслеживать по адресу
                            <u>
                                <%= company.contacts.webSite %>
                            </u> или позвонив по
                            номеру <%= company.contacts.phone %>.
                        </p>
                    </li>
                </ol>
                <p>
                    <b>Настоящим, я предоставляю согласие на обработку ООО
                        «Ф1» моих персональных данных и подтверждаю, что
                        давая такое согласие, я действую по своей воле и в
                        своих интересах. В соответствии с ФЗ от 27.07.2006 №
                        152-ФЗ «О персональных данных» я согласен
                        предоставить информацию, относящуюся к моей
                        личности: фамилия, имя, отчество, контактный
                        телефон, адрес e-mail и иные данные, которые могут
                        быть получены ООО «Ф1» в рамках заключённого между
                        нами договора об оказании услуг. Согласие на
                        обработку персональных данных даётся мною в целях
                        получения услуг, оказываемых ООО «Ф1». Настоящим, я
                        признаю и подтверждаю, что в случае необходимости,
                        компания ООО «Ф1» вправе предоставлять мои
                        персональные данные для достижения указанных выше
                        целей третьему лицу, в том числе при привлечении
                        третьих лиц к оказанию услуг в указанных целях.
                        Такие третьи лица имеют право на обработку
                        персональных данных на основании настоящего
                        согласия.</b>
                </p>
                <p>___________________Подпись Заказчика</p>
            </td>
        </tr>
        <tr>
            <td class="cell-signature" colspan="2">
                <p>
                    Аппарат принял: <%= `${userData.name.last} ${userData.name.first}` %>
                </p>
                <p>_________________Подпись представителя СЦ</p>
            </td>
            <td class="cell-signature" colspan="2">
                <p id="conditions">
                    С условиями обслуживания, сроками его проведения и
                    заключением типового договора согласен, правильность
                    заполнения заказа подтверждаю.  ООО «Ф1» оставляет за
                    собой право отказать в проведении гарантийного
                    обслуживания в случае нарушения условий гарантии.
                </p>
                <p>_________________________Подпись Заказчика</p>
            </td>
        </tr>
    </table>
    </div>

    <script src="/js/print.js"></script>
</body>