<%- include('../includes/head.ejs') %>

<% if (actOfTransfer) { %>
    <%- include('../templates/act_of_transfer.ejs') %>
    <%- include('../templates/act_of_transfer.ejs') %>
<% } %>

<% for (let i = 0; i < orders.length; i++) { %>
    <%- include('../print_multiple.ejs', { order: orders[i], customerName: customerNames[i], customerPhone: customerPhones[i], customerEmail: customerEmails[i], createdAt: createdAts[i], completedAt: completedAts[i], withoutHeader: true }) %>
<% } %>