<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="alert alert-danger" role="alert">
            <div class="container py-5">
                <div class="row">
                     <div class="col-md-2 text-center">
                          <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Код ошибки: 403</p>
                     </div>
                     <div class="col-md-10">
                          <h3>Извините, но похоже у Вас нет доступа к данному разделу</h3>                          
                          <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Вернуться назад</a>
                     </div>
                </div>
           </div>       
          </div>        
    </main>
    <%- include('../includes/footer.ejs') %>