<div>
    <table>
        <tr id="logo">
            <td>
                <img src="/img/logo.png" />
            </td>
            <td>
                <%= company.title.full %><br />
                <%= `${company.address.city}, ${company.address.street}, ${company.address.house}` %><br />
                <%= company.contacts.phone %><br />
                <%= company.contacts.email %><br />
                <%= company.contacts.webSite %>
            </td>
        </tr>
    </table>
</div>