<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/print.css" />
    <script src="https://kit.fontawesome.com/dd74d3e03f.js" crossorigin="anonymous"></script>
    <title><%= pageTitle %></title>
</head>
    