<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить Нового Клиента</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/customers/add" method="POST">
                <%- include('./includes/customer_form.ejs') %>
                <input type="hidden" name="continueSelector" id="continueSelector">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary">Сохранить и выйти</button>
                <button type="submit" id="continue" class="btn btn-primary">Сохранить и добавить устройство</button>                
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <script src="/js/saveAndContinue.js"></script> 

    <%- include('../includes/footer.ejs') %>