<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <main>
            <div class="container">
                <h1>Изменить Клиента</h1>
                <%- include('../includes/alert_messages.ejs') %>
                <form action="/customers/edit" method="POST">
                    <h2>Личные данные</h2>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="lastName">Фамилия<span style="color:red;">*</span></label>
                            <input required type="text" class="form-control" id="lastName" name="lastName"
                                value="<%= oldInput.name.last ? oldInput.name.last : customer.name.last %>">
                        </div>
                        <div class="form-group col-4">
                            <label for="firstName">Имя<span style="color:red;">*</span></label>
                            <input required type="text" class="form-control" id="firstName" name="firstName"
                                value="<%= oldInput.name.first ? oldInput.name.first : customer.name.first %>">
                        </div>
                        <div class="form-group col-4">
                            <label for="middleName">Отчество</label>
                            <input type="text" class="form-control" id="middleName" name="middleName"
                                value="<%= oldInput.name.middle ? oldInput.name.middle : customer.name.middle %>">
                        </div>
                    </div>
                    <h2>Адресные данные</h2>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="city">Город</label>
                            <input type="text" class="form-control" id="city" name="city"
                                value="<%= oldInput.address.city ? oldInput.address.city : customer.address.city %>">
                        </div>
                        <div class="form-group col-4">
                            <label for="street">Улица</label>
                            <input type="text" class="form-control" id="street" name="street"
                                value="<%= oldInput.address.street ? oldInput.address.street : customer.address.street %>">
                        </div>
                        <div class="form-group col-4">
                            <label for="house">Дом</label>
                            <input type="text" class="form-control" id="house" name="house"
                                value="<%= oldInput.address.house ? oldInput.address.house : customer.address.house %>">
                        </div>
                    </div>
                    <h2>Контактные данные</h2>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="phone">Телефон<span style="color:red;">*</span></label>
                            <div class="input-group mb-3">
                                <input <%= oldInput.contacts.phone ? 'required' : customer.contacts.phone == 'номер отсутствует' ? 'readonly' : 'required' %> 
                                    type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
                                    class="form-control" id="phone" name="phone"
                                    value="<%= oldInput.contacts.phone ? oldInput.contacts.phone : customer.contacts.phone == 'номер отсутствует' ? '' : customer.contacts.phone %>">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="emptyPhone" name="emptyPhone"
                                            <%= oldInput.contacts.phone ? '' : customer.contacts.phone == 'номер отсутствует' ? 'checked' : '' %> >
                                            <label class="form-check-label" for="emptyPhone">
                                                не указан
                                            </label>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                value="<%= oldInput.contacts.email ? oldInput.contacts.email : customer.contacts.email %>">
                        </div>
                    </div>
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox" id="silentMode" name="silentMode"
                            <%= customer.silentMode ? 'value=on checked'  : '' %>>
                        <label class="custom-control-label" for="silentMode">
                            Отключить все оповещения
                        </label>
                    </div>
                    <input type="hidden" name="customerId" value="<%= customer._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <hr>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                    <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
                </form>
            </div>
        </main>

        <script src="/js/emptyPhone.js"></script>

        <%- include('../includes/footer.ejs') %>