<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/customers/add/"><i class="fas fa-plus"></i></a> Физические лица</h2>
                </div>                
            </div>
            <hr>
            <% if (customers.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Полное Имя</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Email</th>
                        <th scope="col">Оповещения</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let customer of customers) { %>
                    <tr>
                        <td><%= customer.fullName %></td>
                        <td><%= customer.address %></td>
                        <td><a href="tel:<%= customer.contacts.phone %>"><%= customer.contacts.phone %></a></td>
                        <td><a href="mailto:<%= customer.contacts.email %>"><%= customer.contacts.email %></a></td>
                        <td><i class="<%= customer.silentMode ? 'fas fa-times':'fas fa-check'%>"></i></td>
                        <td class="text-center align-middle">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="/customers/view/<%= customer._id %>">Просмотр</a>
                                    <a class="dropdown-item" href="/customers/edit/<%= customer._id %>">Изменить</a>
                                    <form action="/customers/delete" method="POST">
                                        <input type="hidden" value="<%= customer._id %>" name="customerId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Клиенты не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>