<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class="container">
      <h1>Просмотр Физического Лица</h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Полное Имя</th>
            <td><%= `${customer.name.last} ${customer.name.first} ${customer.name.middle}` %></td>
          </tr>
          <tr>
            <th scope="row">Адрес</th>
            <td><%= `${customer.address.city},  ${customer.address.street}, ${customer.address.house}` %></td>
          </tr>
          <tr>
            <th scope="row">Телефон</th>
            <td><a href="tel:<%= customer.contacts.phone %>"><%= customer.contacts.phone %></a></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><a href="mailto:<%= customer.contacts.email %>"><%= customer.contacts.email %></a></td>
          </tr>
          <tr>
            <th scope="row">Оповещения</th>
            <td><i class="<%= customer.silentMode ? 'fas fa-times':'fas fa-check'%>"></i></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <a href="/customers/edit/<%= customer._id %>" class="btn btn-primary">Изменить</a>
      <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
      <hr>
      <h4>Текущие Связанные Ремонты</h4>
      <% if (orders.length > 0) { %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Тип ремонта</th>
            <th scope="col">Устройство</th>
            <th scope="col">Серинйый номер</th>
            <th scope="col">Статус ремонта</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <% for (let order of orders) { %>
          <tr>
            <th scope="row"><a href="/orders/view/<%= order._id %>"><%= order.orderNo %></a></th>
            <td>
              <%= order.type.title %>
            </td>
            <td><%= `${order.device.type} ${order.device.manufacturer} ${order.device.model}` %></td>
            <td><%= order.device.sn %></td>
            <td><%= order.state %></td>
            <td class="text-center align-middle">
              <div class="dropdown d-inline table-action-button">
                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a class="dropdown-item" href="/orders/view/<%= order._id %>">Просмотр</a>
                  <a class="dropdown-item" href="/orders/edit/<%= order._id %>">Изменить</a>
                  <a class="dropdown-item" href="/orders/print/work-order/<%= order._id %>">Печать
                    Заявки</a>
                  <a class="dropdown-item" href="/orders/print/act-of-acceptance/<%= order._id %>">Печать Акта
                    Выполненных Работ</a>
                  <% if(["Admin"].includes(userData.role)) { %>
                  <form action="/orders/delete" method="POST">
                    <input type="hidden" value="<%= order._id %>" name="orderId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="dropdown-item" type="submit">Удалить</button>
                  </form>
                  <% } %>
                </div>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <div class="alert alert-secondary" role="alert">
        <h6>Ремонты не найдены :(</h6>
      </div>
      <% } %>
    </div>
  </main>


  <%- include('../includes/footer.ejs') %>