<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <h1>Добавить Организацию</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/my-companies/add" method="POST">
                <h2>Наименование</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="fullTitle">Полное наименование<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="fullTitle" name="fullTitle"
                            value="<%= oldInput.title.full %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="shortTitle">Сокращённое наименование<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="shortTitle" name="shortTitle"
                            value="<%= oldInput.title.short %>">
                    </div>                    
                </div>
                <h2>Адресные данные</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="city">Город</label>
                        <input type="text" class="form-control" id="city" name="city"
                            value="<%= oldInput.address.city %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="street">Улица</label>
                        <input type="text" class="form-control" id="street" name="street"
                            value="<%= oldInput.address.street %>">
                    </div>  
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="house">Дом</label>
                        <input type="text" class="form-control" id="house" name="house"
                            value="<%= oldInput.address.house %>">
                    </div>  
                    <div class="form-group col-4">
                        <label for="office">Офис/Помещение</label>
                        <input type="text" class="form-control" id="office" name="office"
                            value="<%= oldInput.address.office %>">
                    </div>                    
                </div>
                <h2>Контактные данные</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="phone">Телефон</label>
                        <input type="text" class="form-control" id="phone" name="phone"
                            value="<%= oldInput.contacts.phone %>">                
                    </div>  
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input required type="email" class="form-control" id="email" name="email"
                            value="<%= oldInput.contacts.email %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="webSite">Сайт</label>
                        <input type="text" class="form-control" id="webSite" name="webSite"
                            value="<%= oldInput.contacts.webSite %>">                
                    </div>                    
                </div>  
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>
    
    <%- include('../includes/footer.ejs') %>
