<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <h1>Моя Организация</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/my-companies/edit" method="POST">
                <h2>Наименование</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="fullTitle">Полное наименование<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="fullTitle" name="fullTitle"
                            value="<%= oldInput.title.full ? oldInput.title.full : myCompany.title.full %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="fullTitle">Сокращённое наименование<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="shortTitle" name="shortTitle"
                            value="<%= oldInput.title.short ? oldInput.title.short : myCompany.title.short %>">
                    </div>
                </div>
                <h2>Адресные данные</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="city">Город</label>
                        <input type="text" class="form-control" id="city" name="city"
                            value="<%= oldInput.address.city ? oldInput.address.city : myCompany.address.city %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="street">Улица</label>
                        <input type="text" class="form-control" id="street" name="street"
                            value="<%= oldInput.address.street ? oldInput.address.street : myCompany.address.street %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="house">Дом</label>
                        <input type="text" class="form-control" id="house" name="house"
                            value="<%= oldInput.address.house ? oldInput.address.house : myCompany.address.house %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="office">Офис/Помещение</label>
                        <input type="text" class="form-control" id="address" name="address"
                            value="<%= oldInput.address.office ? oldInput.address.office : myCompany.address.office %>"> </div>
                </div>
                <h2>Контактные данные</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email"
                            value="<%= oldInput.contacts.email ? oldInput.contacts.email : myCompany.contacts.email %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="phone">Телефон</label>
                        <input type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" class="form-control" id="phone" name="phone"
                            value="<%= oldInput.contacts.phone ? oldInput.contacts.phone : myCompany.contacts.phone %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="webSite">Сайт</label>
                        <input type="text" class="form-control" id="webSite" name="webSite"
                            value="<%= oldInput.contacts.webSite ? oldInput.contacts.webSite : myCompany.contacts.webSite %>">
                    </div>
                </div>
                <h2>Бот-уведомление</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="telegramId">Telegram Id</label>
                        <input type="text" class="form-control" id="telegramId" name="telegramId"
                            value="<%= oldInput.contacts.telegramId ? oldInput.contacts.telegramId : myCompany.contacts.telegramId %>">
                    </div>
                </div>
                <h2>API-ключи</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="telegramApi">Telegram</label>
                        <input type="text" class="form-control" id="telegramApi" name="telegramApi"
                            value="<%= oldInput.apiKeys.telegram ? oldInput.apiKeys.telegram : myCompany.apiKeys.telegram %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="mailgunApi">Mailgun</label>
                        <input type="text" class="form-control" id="mailgunApi" name="mailgunApi"
                            value="<%= oldInput.apiKeys.mailgun ? oldInput.apiKeys.mailgun : myCompany.apiKeys.mailgun %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="smsRuApi">SMS.RU</label>
                        <input type="text" class="form-control" id="smsRuApi" name="smsRuApi"
                            value="<%= oldInput.apiKeys.smsRu ? oldInput.apiKeys.smsRu : myCompany.apiKeys.smsRu %>">
                    </div>
                </div>
                <input type="hidden" name="companyId" value="<%= myCompany._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %></input>