<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/my-companies/add/"><i class="fas fa-plus"></i></a> Организации</h2>
                </div>                
            </div>
            <hr>
            <% if (myCompanies.length > 0) { %>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Email</th>
                        <th scope="col">Сайт</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let company of myCompanies) { %>
                    <tr>
                        <td><%= company.title.full %></td>
                        <td><%= `${company.address.city} ${company.address.street} ${company.address.house}`%></td>
                        <td><%= company.contacts.phone %></td>
                        <td><%= company.contacts.email %></td>
                        <td><%= company.contacts.webSite %></td>
                        <td class="text-center align-middle">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="/my-companies/edit/<%= company._id %>">Изменить</a>
                                    <form action="/my-companies/delete" method="POST">
                                        <input type="hidden" value="<%= company._id %>" name="companyId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Организации не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>