<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Добавить Контакт | <%= legalEntity.shortName %></h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/legal-entities/edit-contact" method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="lastName">Фамилия<span style="color:red;">*</span></label>
                        <input  type="text" class="form-control" id="lastName" name="lastName" 
                            value="<%= oldInput.lastName ? oldInput.lastName : contact.name.last %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="firstName">Имя<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="firstName" name="firstName" 
                            value="<%= oldInput.firstName ? oldInput.firstName : contact.name.first %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="middleName">Отчество</label>
                        <input type="text" class="form-control" id="middleName" name="middleName" 
                            value="<%= oldInput.middleName ? oldInput.middleName : contact.name.middle %>">
                    </div>            
                </div>                
                <div class="row">
                    <div class="form-group col-4">
                        <label for="phone">Телефон</label>
                        <input type="tel" class="form-control" id="phone" name="phone" 
                            pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
                            value="<%= oldInput.phone ? oldInput.phone : contact.contacts.phone %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" 
                            value="<%= oldInput.email ? oldInput.email : contact.contacts.email %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="position">Должность</label>
                        <input type="text" class="form-control" id="position" name="position" 
                            value="<%= oldInput.position ? oldInput.position : contact.position %>">
                    </div>  
                </div>              
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="id" id="id" value="<%= legalEntity._id %>">
                <input type="hidden" name="contactIndex" id="contactIndex" value="<%= legalEntity.contactList.indexOf(contact) %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>


    <%- include('../includes/footer.ejs') %>