<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Изменить Юридическое Лицо</h1>
            <%- include('../includes/alert_messages.ejs') %>
            <form action="/legal-entities/edit" method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="shortName">Краткое наименование</label>
                        <input  type="text" class="form-control" id="shortName" name="shortName" 
                            value="<%= oldInput.shortName ? oldInput.shortName : legalEntity.shortName %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="fullName">Полное наименование</label>
                        <input required type="text" class="form-control" id="fullName" name="fullName" 
                            value="<%= oldInput.fullName ? oldInput.fullName : legalEntity.fullName %>">
                    </div>                    
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="city">Город</label>
                        <input type="text" class="form-control" id="city" name="city" 
                            value="<%= oldInput.city ? oldInput.city : legalEntity.city %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="street">Улица</label>
                        <input type="text" class="form-control" id="street" name="street" 
                            value="<%= oldInput.street ? oldInput.street : legalEntity.street %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="house">Дом</label>
                        <input type="text" class="form-control" id="house" name="house" 
                            value="<%= oldInput.house ? oldInput.house : legalEntity.house %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="phone">Телефон</label>
                        <input required type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" 
                            class="form-control" id="phone" name="phone" 
                            value="<%= oldInput.phone ? oldInput.phone : legalEntity.phone %>">
                    </div>
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" 
                            value="<%= oldInput.email ? oldInput.email : legalEntity.email %>">
                    </div>
                </div>
                <div class="row">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" type="checkbox" id="isDealer" name="isDealer"
                                <%= legalEntity.isDealer ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="isDealer">
                                Является Дилером
                            </label>
                    </div>   
                </div>
                <input type="hidden" name="id" id="id" value="<%= legalEntity._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>