<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/legal-entities/add/"><i class="fas fa-plus"></i></a> Юридические лица</h2>
                </div>                
            </div>
            <hr>
            <% if (legalEntities.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Краткое Наименование</th>
                        <th scope="col">Дилер</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Email</th>
                        <th scope="col">Контакты</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let legalEntity of legalEntities) { %>
                    <tr>
                        <td><%= legalEntity.shortName %></td>
                        <td><i class="<%= legalEntity.isDealer ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <td><%= `${legalEntity.city}, ${legalEntity.street}, ${legalEntity.house}` %></td>
                        <td><a href="tel:<%= legalEntity.phone %>"><%= legalEntity.phone %></a></td>
                        <td><a href="mailto:<%= legalEntity.email %>"><%= legalEntity.email %></a></td>
                        <td>
                            <% if (legalEntity.contactList.length > 0) { %>
                            <% for (let contact of legalEntity.contactList) { %>
                            <%= `${contact.name.last} ${contact.name.first} ${contact.name.middle}, ${contact.position}` %><br>
                            <% } %>
                            <% } %>
                        </td>
                        <td class="text-center align-middle">
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item"
                                        href="/legal-entities/view/<%= legalEntity._id %>">Просмотр</a>
                                    <a class="dropdown-item"
                                        href="/legal-entities/edit/<%= legalEntity._id %>">Изменить</a>
                                    <form action="/legal-entities/delete" method="POST">
                                        <input type="hidden" value="<%= legalEntity._id %>" name="id">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Юридические лица не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>