<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class="container">
      <h1>Просмотр Юридического Лица</h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Краткое наименование</th>
            <td><%= legalEntity.shortName %></td>
          </tr>
          <tr>
            <th scope="row">Полное наименование</th>
            <td><%= legalEntity.fullName %></td>
          </tr>
          <tr>
            <th scope="row">Адрес</th>
            <td><%= `${legalEntity.city}, ${legalEntity.street}, ${legalEntity.house}` %></td>
          </tr>
          <tr>
            <th scope="row">Контактный телефон</th>
            <td><a href="tel:<%= legalEntity.phone %>"><%= legalEntity.phone %></a></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><a href="mailto:<%= legalEntity.email %>"><%= legalEntity.email %></a></td>
          </tr>
          <tr>
            <th scope="row">Является дилером</th>
            <td><i class="<%= legalEntity.isDealer ? 'fas fa-check':'fas fa-times'%>"></i></td>
          </tr>
          <!-- <tr>
                        <th scope="row">Создан</th>
                        <td><%= `${ legalEntity.createdAt }, ${ legalEntity.createdBy.name.first } ${ legalEntity.createdBy.name.last }` %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Изменён</th>
                        <td><%= `${ legalEntity.updatedAt }, ${ legalEntity.updatedBy.name.first } ${ legalEntity.createdBy.name.last }` %>
                        </td>
                    </tr> -->
        </tbody>
      </table>
      <h4>Контактные Лица</h4>
      <% if (legalEntity.contactList.length > 0) { %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Должность</th>
            <th scope="col">Контактный телефон</th>
            <th scope="col">Email</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <% for (let contact of legalEntity.contactList) { %>
          <tr>
            <td><%= `${contact.name.last} ${contact.name.first} ${contact.name.middle}` %></td>
            <td><%= contact.position %></td>
            <td><a href="tel:<%= contact.contacts.phone %>"><%= contact.contacts.phone %></a></td>
            <td><a href="mailto:<%= contact.contacts.email %>"><%= contact.contacts.email %></a></td>
            <td>
              <a class="btn btn-primary" href="/legal-entities/edit-contact/<%= legalEntity._id %>/<%= legalEntity.contactList.indexOf(contact) %>">Изменить</a>
              <form style="display: inline;" action="/legal-entities/delete-contact" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" value="<%= legalEntity._id %>" name="id">
                <input type="hidden" name="contactIndex" id="contactIndex" value="<%= legalEntity.contactList.indexOf(contact) %>">
                <button class="btn btn-danger" type="submit">Удалить</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %>
      <hr>
      <a href="/legal-entities/add-contact/<%= legalEntity._id %>" class="btn btn-primary">Добавить Контактное
        Лицо</a>
      <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
    </div>

    <div class="container">
      <hr>
      <h4>Текущие Связанные Ремонты</h4>
      <% if (orders.length > 0) { %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Тип ремонта</th>
            <th scope="col">Устройство</th>
            <th scope="col">Серинйый номер</th>
            <th scope="col">Статус ремонта</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <% for (let order of orders) { %>
          <tr>
            <th scope="row"><a href="/orders/view/<%= order._id %>"><%= order.orderNo %></a></th>
            <td>
              <%= order.type.title %>
            </td>
            <td><%= `${order.device.type} ${order.device.manufacturer} ${order.device.model}` %></td>
            <td><%= order.device.sn %></td>
            <td><%= order.state %></td>
            <td class="text-center align-middle">
              <div class="dropdown d-inline table-action-button">
                <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a class="dropdown-item" href="/orders/view/<%= order._id %>">Просмотр</a>
                  <a class="dropdown-item" href="/orders/edit/<%= order._id %>">Изменить</a>
                  <a class="dropdown-item" href="/orders/print/work-order/<%= order._id %>">Печать
                    Заявки</a>
                  <a class="dropdown-item" href="/orders/print/act-of-acceptance/<%= order._id %>">Печать Акта
                    Выполненных Работ</a>
                  <% if(["Admin"].includes(userData.role)) { %>
                  <form action="/orders/delete" method="POST">
                    <input type="hidden" value="<%= order._id %>" name="orderId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="dropdown-item" type="submit">Удалить</button>
                  </form>
                  <% } %>
                </div>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <div class="alert alert-secondary" role="alert">
        <h6>Ремонты не найдены :(</h6>
      </div>
      <% } %>
    </div>

  </main>


  <%- include('../includes/footer.ejs') %>