<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Изменить фильтр ремонтов</h1>
            <%- include('../../includes/alert_messages.ejs') %>
            <form action="/my-order-filters/edit" method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="title">Наименование<span style="color:red;">*</span></label>
                        <input required type="text" class="form-control" id="title" name="title"
                            value="<%= orderFilter.title %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="isShared" name="isShared"
                                <%= orderFilter.isShared ? 'value=on checked'  : '' %>>
                            <label class="custom-control-label" for="isShared">
                                Доступен для всех пользователей
                            </label>
                        </div>
                    </div>
                </div>                
                <input type="hidden" value="<%= orderFilter._id %>" name="orderFilterId">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Сохранить</button>
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад</a>
            </form>
        </div>
    </main>
 

    <%- include('../../includes/footer.ejs') %>