<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <h2>Мои фильтры ремонтов</h2>
                </div>                
            </div>
            <hr>
            <% if (orderFilters.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Общедоступен</th>
                        <!-- <th scope="col">По умолчанию</th> -->
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (let orderFilter of orderFilters) { %>
                    <tr>
                        <td>
                            <%= orderFilter.title %>
                        </td>
                        <td><i class="<%= orderFilter.isShared ? 'fas fa-check':'fas fa-times'%>"></i></td>
                        <!-- <td><i class="<%= orderFilter.setByDefault ? 'fas fa-check':'fas fa-times'%>"></i></td> -->
                        <td class="text-center align-middle">                           
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">                                    
                                    <a class="dropdown-item" href="/my-order-filters/edit/<%= orderFilter._id %>">Изменить</a>                                 
                                    <form action="/my-order-filters/delete" method="POST">
                                        <input type="hidden" value="<%= orderFilter._id %>" name="orderFilterId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </td>                        
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Типы устройств не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../../includes/footer.ejs') %>