<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2><a href="/condition-codes/add/"><i class="fas fa-plus"></i></a> Коды условия</h2>
                </div>               
            </div>            
            <hr>
            <% if (conditionCodes.length > 0) { %>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Код</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (let conditionCode of conditionCodes) { %>
                    <tr>
                        <td><%= conditionCode.code %></td>
                        <td><%= conditionCode.title %></td>
                        <td class="text-center align-middle">                           
                            <div class="dropdown d-inline table-action-button">
                                <button class="btn btn-primary" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">                                    
                                    <a class="dropdown-item" href="/condition-codes/edit/<%= conditionCode._id %>">Изменить</a>                                    
                                    <form action="/condition-codes/delete" method="POST">
                                        <input type="hidden" value="<%= conditionCode._id %>" name="conditionCodeId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="dropdown-item" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </td>                        
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h1>Коды условия не найдены!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../../includes/footer.ejs') %>