<h1>Просмотр Устройства</h1>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">Владелец</th>
            <td>
                <% if (device.owner.individual._id) { %>
                <a href="/customers/view/<%= device.owner.individual._id %>"
                    target="_blank"><%= `${device.owner.individual.lastName} ${device.owner.individual.firstName} ${device.owner.individual.middleName}` %></a>
                <% } else { %>
                <a href="/legal-entities/view/<%= device.owner.legalEntity._id %>"
                    target="_blank"><%= device.owner.legalEntity.shortName %></a>
                <% } %>
            </td>
        </tr>
        <tr>
            <th scope="row">Контактные данные</th>
            <td>
                <% if (device.owner.individual._id) { %>
                <a href="tel:<%= device.owner.individual.phone %>"><%= device.owner.individual.phone %></a>
                | <a
                    href="mailto:<%= device.owner.individual.email %>"><%= device.owner.individual.email %></a>
                <% } else { %>
                <a
                    href="tel:<%= device.owner.legalEntity.phone %>"><%= device.owner.legalEntity.phone %></a>
                | <a
                    href="mailto:<%= device.owner.legalEntity.email %>"><%= device.owner.legalEntity.email %></a>
                <% } %>
            </td>
        </tr>

        <tr>
            <th scope="row">Устройство</th>
            <td><%= `${device.type} ${device.manufacturer} ${device.model}` %></td>
        </tr>
        <tr>
            <th scope="row">Item Code (MTM)</th>
            <td><%= device.itemCode %></td>
        </tr>
        <tr>
            <th scope="row">Серийный номер</th>
            <td><%= device.sn %></td>
        </tr>
        <tr>
            <th scope="row">IMEI</th>
            <td>
                <%= device.imei1 %><br>
                <%= device.imei2 %>
            </td>
        </tr>
        <tr>
            <th scope="row">Версия ОС</th>
            <td><%= device.osVersion %></td>
        </tr>
        <tr>
            <th scope="row">Дата Продажи</th>
            <td><% if (device.dateOfSale) { %>
                <%=  device.dateOfSale.toLocaleDateString('ru-RU', dateOptions) %>
                <% } %>
            </td>
        </tr>
        <tr>
            <th scope="row">Статус Устройства</th>
            <td><%= device.state %></td>
        </tr>
    </tbody>
</table>