<div class="row">
    <div id="ownerFormGroup" class="form-group col-3">
        <label for="owner">Конечный пользователь<span style="color:red;">*</span></label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ownerRadios" id="individualOwnerRadio"
                value="individualOwner" checked>
            <label class="form-check-label" for="individualOwnerRadio">
                Физическое лицо
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ownerRadios" id="legalEntityOwnerRadio"
                value="legalEntityOwner">
            <label class="form-check-label" for="legalEntityOwnerRadio">
                Юридическое лицо
            </label>
        </div>
    </div>
</div>
<div class="row" id="individualOwnerForm">
    <div id="ownerFormGroup" class="form-group col-6 <%= modal ? '' : 'input-group' %>">
        <input required class="form-control" id="individualOwner" name="individualOwner" placeholder="Поиск физ. лица..."
            value="<%= customer ? `${customer.name.last} ${customer.name.first} ${customer.name.middle}` : "" %>">
        <input class="form-control" type="hidden" id="individualOwnerId" name="individualOwnerId" value=<%= customer ? customer._id : "" %>>
        <% if (!modal) { %>
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#individualOwnerModal"><i class="fas fa-plus"></i></button>
        </div>
        <% } %>        
    </div>
</div>
<div class="row" id="legalEntityOwnerForm" hidden>
    <div id="ownerFormGroup" class="form-group col-6 <%= modal ? '' : 'input-group' %>">
        <input class="form-control" id="legalEntityOwner" name="legalEntityOwner" placeholder="Поиск юр. лица...">
        <input class="form-control" type="hidden" id="legalEntityOwnerId" name="legalEntityOwnerId">
        <% if (!modal) { %>
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#legalEntityOwnerModal"><i class="fas fa-plus"></i></button>
        </div>
        <% } %>       
    </div>
</div>
<div class="row">
    <div class="form-group col-3">
        <label for="manufacturer">Производитель<span style="color:red;">*</span></label>
        <select required class="selectpicker" data-style="" data-style-base="form-control" data-width="100%" data-size=5 id="manufacturer" name="manufacturer" data-live-search="true"
            data-none-selected-text="Ничего не выбрано">
            <option></option>            
              <% for (let manufacturer of manufacturers) { %>
              <% if (manufacturer.title == oldInput.manufacturer)  { %>
              <option selected>
                <%= manufacturer.title %>
              </option>             
              <% } else { %>
              <option>
                <%= manufacturer.title %>
              </option>
              <% } %>
              <% } %>
        </select>
        <input class="form-control" type="hidden" id="manufacturerId" name="manufacturerId">
    </div>
    <div class="form-group col-3">
        <label for="type">Тип устройства<span style="color:red;">*</span></label>
        <select required class="selectpicker" data-style="" data-style-base="form-control" data-width="100%" data-size=5 id="type" name="type" data-live-search="true"
            data-none-selected-text="Ничего не выбрано">
            <option></option>
              <% for (let type of deviceTypes) { %>
              <% if (type.name == oldInput.type)  { %>
              <option selected>
                <%= oldInput.type %>
              </option>              
              <% } else { %>
              <option>
                <%= type.name %>
              </option>
              <% } %>
              <% } %>
        </select>
        <input class="form-control" type="hidden" id="typeId" name="typeId">
    </div>
    <div class="form-group col-3">
        <label for="model">Модель<span style="color:red;">*</span></label>
        <input required type="text" class="form-control" id="model" name="model" required value="<%= oldInput.model %>">
    </div>
</div>
<div class="row">
    <div class="form-group col-3">
        <label for="sn">Серийный номер<span style="color:red;">*</span></label>
        <input required type="text" class="form-control" id="sn" name="sn" required value="<%= oldInput.sn %>">
    </div>
    <div class="form-group col-3">
        <label for="itemCode">Item Code (MTM)</label>
        <input type="text" class="form-control" id="itemCode" name="itemCode" value="<%= oldInput.itemCode %>">
    </div>
    <div class="form-group col-3">
        <label for="imei1">IMEI 1</label>
        <input type="text" class="form-control" id="imei1" name="imei1" value="<%= oldInput.imei1 %>">
    </div>   
</div>
<div class="row">
</div>
<div class="row">
    <div class="form-group col-3">
        <label for="dateOfSale">Дата Продажи</label>
        <input type="date" class="form-control" id="dateOfSale" name="dateOfSale"
            value="<%= oldInput.dateOfSale ? oldInput.dateOfSale : '' %>">
    </div>    
</div>
<div class="row">
    <div class="form-group col-6">
        <label for="state">Статус устройства</label>        
        <select class="selectpicker" data-style="" data-style-base="form-control" data-width="100%" data-live-search="true" data-dropup-auto="false" id="state" name="state" value="<%= oldInput.state %>">
            <% for (let state of states) { %>
                <% if (oldInput.state == state)  { %>
                <option selected>
                  <%= state %>
                </option>                
                <% } else { %>
                <option>
                  <%= state %>
                </option>
                <% } %>
                <% } %>
        </select>
    </div>    
</div>