<!-- Detailed View Modal -->
<div class="modal fade" id="detailedViewModal" tabindex="-1" role="dialog" aria-labelledby="detailedViewModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailedViewModalLabel">
                    Подробно
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Номер ремонта</th>
                            <td id="orderNo">
                                <%= order.orderNo %>
                            </td>
                            <td>
                                <button type="button" data-clipboard-target="#orderNo" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>                      
                        </tr>
                        <tr>
                            <th scope="row">Номер ремонта в системе вендора</th>
                            <td id="providerOrderId"><%= order.providerOrderId %></td>
                            <td>
                                <button type="button" data-clipboard-target="#providerOrderId" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Клиент</th>
                            <td id="customerFullName">
                                <%= customer.fullName %>
                            </td>
                            <td>
                                <button type="button" data-clipboard-target="#customerFullName" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Контактный телефон</th>
                            <td id="customerPhone">
                                <%= customer.phone %>
                            </td>
                            <td>
                                <button type="button" data-clipboard-target="#customerPhone" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td id="customerEmail">
                                <%= customer.email %>
                            </td>
                            <td>
                                <button type="button" data-clipboard-target="#customerEmail" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Адрес</th>
                            <td id="customerAddress">
                                <%= customer.address %>
                            </td>
                            <td>
                                <button type="button" data-clipboard-target="#customerAddress" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Конечный пользователь</th>
                            <td id="ownerFullName">
                                <%= deviceOwner.fullName %>
                            </td>
                            <td>
                                <button type="button" data-clipboard-target="#ownerFullName" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Контактный телефон</th>
                            <td id="ownerPhone"><%= deviceOwner.phone %></td>
                            <td>
                                <button type="button" data-clipboard-target="#ownerPhone" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td id="ownerEmail"><%= deviceOwner.email %></td>
                            <td>
                                <button type="button" data-clipboard-target="#ownerEmail" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Адрес</th>
                            <td id="ownerAddress"><%= deviceOwner.address %></td>
                            <td>
                                <button type="button" data-clipboard-target="#ownerAddress" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Устройство</th>
                            <td id="deviceFullName"><%= `${order.device?.type} ${order.device?.manufacturer} ${order.device?.model}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#deviceFullName" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Item Code (MTM)</th>
                            <td id="deviceItemCode"><%= `${order.device.itemCode}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#deviceItemCode" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Серийный номер</th>
                            <td id="deviceSN"><%= `${order.device.sn}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#deviceSN" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">IMEI 1</th>
                            <td id="deviceImei1"><%= `${order.device.imei1}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#deviceImei1" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        <tr>
                            <tr>
                                <th scope="row">IMEI 2</th>
                                <td id="deviceImei2"><%= `${order.device.imei2}` %></td>
                                <td>
                                    <button type="button" data-clipboard-target="#deviceImei2" class="btn btn-light"><i
                                        class="fas fa-copy"></i></button>
                                </td>
                            <tr>
                            <th scope="row">Версия ОС</th>
                            <td id="deviceOSVersion"><%= `${order.device.osVersion}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#deviceOSVersion" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Дата продажи</th>
                            <td id="deviceDateOfSale"><%= order.device.dateOfSale %></td>
                            <td>
                                <button type="button" data-clipboard-target="#deviceDateOfSale" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Статус устройства</th>
                            <td id="deviceState"><%= `${order.device.state}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#deviceState" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Заявленная неисправность</th>
                            <td id="statedMalfunction"><%= `${order.statedMalfunction}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#statedMalfunction" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Комплектация</th>
                            <td id="setStandard"><%= `${order.setStandard}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#setStandard" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Состояние</th>
                            <td id="deviceAppearance"><%= `${order.deviceAppearance}` %></td>
                            <td>
                                <button type="button" data-clipboard-target="#deviceAppearance" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Код условия</th>
                            <td id="conditionCodeTitle"><%= order.codes.conditionCode.title %></td>
                            <td>
                                <button type="button" data-clipboard-target="#conditionCodeTitle" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Код симптома</th>
                            <td id="symptomCodeTitle"><%= order.codes.symptomCode.title %></td>
                            <td>
                                <button type="button" data-clipboard-target="#symptomCodeTitle" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Выявленные неисправности</th>
                            <td id="diagnosticsResults">
                                <ul>
                                    <% for (let i = 0; i < order.codes.sectionCode.length; i+= 1) { %>
                                    <li><%= order.codes.sectionCode[i]?.title %> -
                                        <%= order.codes.defectCode[i]?.title %></li>
                                    <% } %>
                                </ul>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Выполненные работы</th>
                            <td id="workCompleted">                                
                                    <ul>
                                        <% for (let i = 0; i < order.codes.repairCode.length; i+= 1) { %>
                                        <% if (order.spareParts[i].state !== 'Прислана неисправной' && order.spareParts[i].state !== 'Не использовалась') { %>
                                        <li><%= order.codes.sectionCode[i]?.title %> -
                                            <%= order.codes.repairCode[i]?.title %></li>
                                        <% } %>
                                        <% } %>
                                    </ul>
                            </td>
                            <td></td>                            
                        </tr>
                        <tr>
                            <th scope="row">Комментарий сотрудника СЦ</th>
                            <td id="issueNote"><%= order.issueNote %></td>
                            <td>
                                <button type="button" data-clipboard-target="#issueNote" class="btn btn-light"><i
                                    class="fas fa-copy"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>