<!-- ISSUE NOT SUBMIT MODAL -->
<div class="modal fade" id="issueNoteSubmitModal" tabindex="-1" aria-labelledby="issueNoteSubmitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="issueNoteSubmitModalLabel">Утверждение комментария</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Я подтверждаю, что данный комментарий предназначен исключительно для Клиента и не содержит информации, касающейся внутренних аспектов работы СЦ. 
        </div>       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <form action="/orders/issue-note-submit" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" value="<%= order._id %>" name="orderId">
            <button type="submit" class="btn btn-primary">Утвердить</button>
          </form>          
        </div>
      </div>
    </div>
  </div>