<!-- Previous Orders Modal -->
<div class="modal fade" id="previousOrdersModal" tabindex="-1" role="dialog" aria-labelledby="previousOrdersModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previousOrdersModalLabel">Предыдущие ремонты</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% for(prevOrder of previousOrders) { %>
        <% if (prevOrder.orderNo !== order.orderNo) { %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Номер ремонта</th>
              <td><%= prevOrder.orderNo %></td>
            </tr>
            <tr>
              <th scope="row">Выполненные работы</th>
              <td>
                <ul>
                  <% for (let i=0; i < prevOrder.codes.repairCode.length; i+=1) { %>
                  <% if (prevOrder.spareParts[i].state !=='Прислана неисправной' && prevOrder.spareParts[i].state !=='Не использовалась') { %>
                  <li>
                    <%= prevOrder.codes.defectCode[i].title %> -
                    <%= prevOrder.codes.repairCode[i].title %>
                  </li>
                  <% } %>
                  <% } %>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Дата начала / окончания ремонта</th>
              <td> <%= `${prevOrder.createdAt.toLocaleDateString('ru-RU', dateOptions)} / ${prevOrder.completedAt?.toLocaleDateString('ru-RU', dateOptions) || ""}` %></td>
            </tr>
            <tr>
              <th scope="row">Комментарий сотрудника СЦ</th>
              <td><%= prevOrder.issueNote %></td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer">
          <a class="btn btn-primary" href="/orders/view/<%= prevOrder._id %>">Подробнее</a>
        </div>
        <hr>
        <% } %>
        <% } %>
      </div>
    </div>
  </div>
</div>