<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <a class="btn btn-primary" data-toggle="collapse" href="#filterCollapse" role="button"
                    aria-expanded="false" aria-controls="filterCollapse">
                    Расширенный поиск
                </a>
            </div>
            <select class="custom-select" id="orderFilter" name="orderFilter">
                <option></option>
                <% for(filter of locals.myOrderFilters) { %>
                <option <% if (String(orderFilterId) === String(filter._id)) {%> selected <% } %>
                    value="<%= filter._id %>">
                    <%= filter.title %>
                </option>
                <% } %>
            </select>
            <div class="input-group-append">
                <a class="btn btn-outline-primary" type="button" id="applySavedFilter"
                    href="/orders/filtered/"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="collapse" id="filterCollapse">
    <div class="card card-body">
        <form action="/orders/filtered" method="POST"> 
            <h3>Параметры устройства</h3>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="deviceType">Тип устройства</label>
                            <select class="selectpicker" id="deviceType" name="deviceType" multiple
                                data-live-search="true" actionsBox="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let type of deviceTypes) { %>
                                <option <% if(deviceType && deviceType.includes(type.name)) { %> selected="true"
                                    <% } %>>
                                    <%= type.name %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="deviceManufacturer">Производитель</label>
                            <select class="selectpicker" id="deviceManufacturer" name="deviceManufacturer" multiple
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let manufacturer of manufacturers) { %>
                                <option <% if(deviceManufacturer.includes(manufacturer.title)) { %> selected="true"
                                    <% } %>><%= manufacturer.title %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="deviceModel">Модель</label>
                            <input class="form-control" id="deviceModel" name="deviceModel" value="<%= deviceModel %>">
                        </div>
                        <div class="form-group col-6">
                            <label for="deviceItemCode">Item-Code (MTM)</label>
                            <input class="form-control" id="deviceItemCode" name="deviceItemCode"
                                value="<%= deviceItemCode %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="deviceSN">Серийный номер</label>
                            <input class="form-control" id="deviceSN" name="deviceSN" value="<%= deviceSN %>">
                        </div>
                        <div class="form-group col-6">
                            <label for="deviceIMEI">IMEI</label>
                            <input class="form-control" id="deviceIMEI" name="deviceIMEI" value="<%= deviceIMEI %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="deviceOSVersion">Версия ОС</label>
                            <input class="form-control" id="deviceOSVersion" name="deviceOSVersion"
                                value="<%= deviceOSVersion %>">
                        </div>
                        <div class="form-group col-6">
                            <label for="deviceState">Статус</label>
                            <select class="selectpicker" id="deviceState" name="deviceState" multiple
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let state of deviceStates) { %>
                                <option <% if(deviceState.includes(state)) { %> selected="true" <% } %>><%= state %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div id="ownerFormGroup" class="form-group col">
                            <label for="owner">Конечный пользователь</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ownerRadios"
                                    id="individualOwnerRadio" value="individualOwner"
                                    <% if(individualOwner || !legalEntityOwner) {%> checked="true" <% } %>>
                                <label class="form-check-label" for="individualOwnerRadio">
                                    Физическое лицо
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ownerRadios"
                                    id="legalEntityOwnerRadio" value="legalEntityOwner" <% if(legalEntityOwner) {%>
                                    checked="true" <% } %>>
                                <label class="form-check-label" for="legalEntityOwnerRadio">
                                    Юридическое лицо
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="individualOwnerForm" <% if(legalEntityOwner) {%> hidden <% } %>>
                        <div id="ownerFormGroup" class="form-group col">
                            <input class="form-control" id="individualOwner" name="individualOwner"
                                placeholder="Поиск физ. лица..." <% if(individualOwner) {%>
                                value="<%= `${ individualOwner.name.last } ${ individualOwner.name.first } ${ individualOwner.name.middle }` %>"
                                <% } %>>
                            <input class="form-control" type="hidden" id="individualOwnerId" name="individualOwnerId"
                                <% if(individualOwner) {%> value="<%= `${ individualOwner._id }` %>" <% } %>>
                        </div>
                    </div>
                    <div class="row" id="legalEntityOwnerForm" <% if(!legalEntityOwner || individualOwner) {%> hidden
                        <% } %>>
                        <div id="ownerFormGroup" class="form-group col">
                            <input class="form-control" id="legalEntityOwner" name="legalEntityOwner"
                                placeholder="Поиск юр. лица..." <% if(legalEntityOwner) {%>
                                value="<%= `${legalEntityOwner.shortName} (${ legalEntityOwner.fullName })` %>" <% } %>>
                            <input class="form-control" type="hidden" id="legalEntityOwnerId" name="legalEntityOwnerId"
                                <% if(legalEntityOwner) {%> value="<%= `${ legalEntityOwner._id }` %>" <% } %>>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Параметры ремонта</h3>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="orderType">Тип Ремонта</label>
                            <select class="selectpicker" id="orderType" name="orderType" multiple
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let type of orderTypes) { %>
                                <option <% if(orderType.includes(type.title)) { %> selected="true" <% } %>>
                                    <%= type.title %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="orderState">Статус Ремонта</label>
                            <select class="selectpicker" id="orderState" name="orderState" multiple
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let state of orderStates) { %>
                                <option <% if(orderState.includes(state)) { %> selected="true" <% } %>><%= state %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="orderNo">Номер ремонта</label>
                            <input type="number" class="form-control" id="orderNo" name="orderNo" value="<%= orderNo %>">
                        </div>
                        <div class="form-group col-6">
                            <label for="providerOrderId">Номер ремонта вендора</label>
                            <input class="form-control" id="providerOrderId" name="providerOrderId"
                                value="<%= providerOrderId %>">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div id="customerFormGroup" class="form-group col">
                            <label for="customer">Устройство сдал</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="customerRadios"
                                    id="individualCustomerRadio" value="individualCustomer"
                                    <% if(individualCustomer || !legalEntityCustomer) {%> checked="true" <% } %>>
                                <label class="form-check-label" for="individualCustomerRadio">
                                    Физическое лицо
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="customerRadios"
                                    id="legalEntityCustomerRadio" value="legalEntityCustomer"
                                    <% if(legalEntityCustomer) {%> checked="true" <% } %>>
                                <label class="form-check-label" for="legalEntityCustomerRadio">
                                    Юридическое лицо
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="individualCustomerForm" <% if(legalEntityCustomer) {%> hidden <% } %>>
                        <div id="ownerFormGroup" class="form-group col">
                            <input class="form-control" id="individualCustomer" name="individualCustomer"
                                placeholder="Поиск физ. лица..." <% if(individualCustomer) {%>
                                value="<%= `${ individualCustomer.name.last } ${ individualCustomer.name.first } ${ individualCustomer.name.middle }` %>"
                                <% } %> />
                            <input class="form-control" type="hidden" id="individualCustomerId"
                                name="individualCustomerId" <% if(individualCustomer) { %>
                                value="<%= individualCustomer._id %>" <% } %>>
                        </div>
                    </div>
                    <div class="row" id="legalEntityCustomerForm" <% if(!legalEntityCustomer || individualCustomer) {%>
                        hidden <% } %>>
                        <div id="customerFormGroup" class="form-group col">
                            <input class="form-control" id="legalEntityCustomer" name="legalEntityCustomer"
                                placeholder="Поиск юр. лица..." <% if(legalEntityCustomer) {%>
                                value="<%= `${legalEntityCustomer.shortName} (${ legalEntityCustomer.fullName })` %>"
                                <% } %>>
                            <input class="form-control" type="hidden" id="legalEntityCustomerId"
                                name="legalEntityCustomerId" <% if(legalEntityCustomer) {%>
                                value="<%= `${ legalEntityCustomer._id }` %>" <% } %>>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="form-group col-3">
                            <div class="row"></div>
                            <label for="orderCreatedAt">Дата создания</label>
                            <input type="text" class="form-control" id="orderCreatedAt" name="orderCreatedAt"
                                value="<%=orderCreatedAt %>" placeholder="Дата" />
                            <input hidden type="text" id="orderCreatedAtStart" name="orderCreatedAtStart"
                                value="<%=orderCreatedAtStart %>">
                            <input hidden type="text" id="orderCreatedAtEnd" name="orderCreatedAtEnd"
                                value="<%=orderCreatedAtEnd %>">
                        </div>
                        <div class="col-3">
                            <label for="orderCreatedBy">Кем создан</label>
                            <select class="selectpicker" id="orderCreatedBy" name="orderCreatedBy" multiple
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let user of users) { %>
                                <option <% if(orderCreatedBy.includes(user._id)) { %> selected="true" <% } %>>
                                    <%= `${user.name.first} ${user.name.last}` %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label for="orderDiagnosedAt">Дата выполнения диагностики</label>
                            <input type="text" class="form-control" id="orderDiagnosedAt" name="orderDiagnosedAt"
                                value="<%=orderDiagnosedAt %>" placeholder="Дата" />
                            <input hidden type="text" id="orderDiagnosedAtStart" name="orderDiagnosedAtStart"
                                value="<%=orderDiagnosedAtStart %>">
                            <input hidden type="text" id="orderDiagnosedAtEnd" name="orderDiagnosedAtEnd"
                                value="<%=orderDiagnosedAtEnd %>">
                        </div>
                        <div class="col-3">
                            <label for="orderDiagnosedBy">Кем выполнена диагностика</label>
                            <select class="selectpicker" id="orderDiagnosedBy" name="orderDiagnosedBy" multiple
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let user of users) { %>
                                <option <% if(orderDiagnosedBy.includes(user._id)) { %> selected="true" <% } %>>
                                    <%= `${user.name.first} ${user.name.last}` %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            <label for="orderCompletedAt">Дата выполнения ремонта</label>
                            <input type="text" class="form-control" id="orderCompletedAt" name="orderCompletedAt"
                                value="<%=orderCompletedAt %>" placeholder="Дата" />
                            <input hidden type="text" id="orderCompletedAtStart" name="orderCompletedAtStart"
                                value="<%=orderCompletedAtStart %>">
                            <input hidden type="text" id="orderCompletedAtEnd" name="orderCompletedAtEnd"
                                value="<%=orderCompletedAtEnd %>">
                        </div>
                        <div class="col-3">
                            <label for="orderCompletedBy">Кем выполнен ремонт</label>
                            <select class="selectpicker" id="orderCompletedBy" name="orderCompletedBy" multiple
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let user of users) { %>
                                <option <% if(orderCompletedBy.includes(user._id)) { %> selected="true" <% } %>>
                                    <%= `${user.name.first} ${user.name.last}` %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label for="orderCompletedAt">Дата выдачи</label>
                            <input type="text" class="form-control" id="orderIssuedAt" name="orderIssuedAt"
                                value="<%=orderIssuedAt %>" placeholder="Дата" />
                            <input hidden type="text" id="orderIssuedAtStart" name="orderIssuedAtStart"
                                value="<%=orderIssuedAtStart %>">
                            <input hidden type="text" id="orderIssuedAtEnd" name="orderIssuedAtEnd"
                                value="<%=orderIssuedAtEnd %>">
                        </div>
                        <div class="col-3">
                            <label for="orderIssuedBy">Кем выдан</label>
                            <select class="selectpicker" id="orderIssuedBy" name="orderIssuedBy" multiple
                                data-live-search="true" data-none-selected-text="Ничего не выбрано">
                                <% for (let user of users) { %>
                                <option <% if(orderIssuedBy.includes(user._id)) { %> selected="true" <% } %>>
                                    <%= `${user.name.first} ${user.name.last}` %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary" id="notSaveOrderFilter"><i class="fas fa-check"></i>
                        Применить</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#saveSearchParameters"><i class="fas fa-save"></i> Сохранить</button>
                    <a class="btn btn-warning" id="clearAll"><i class="fas fa-broom"></i> Очистить</a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="saveSearchParameters" tabindex="-1" aria-labelledby="saveSearchParameters"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="saveSearchParametersLabel">Сохранить параметры поиска</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <label for="filterTitle">Имя фильтра</label>
                                    <input class="form-control" id="filterTitle" name="filterTitle">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>
                                    <div class="custom-control custom-switch">
                                        <input class="custom-control-input" type="checkbox" id="isShared"
                                            name="isShared" value="off">
                                        <label class="custom-control-label" for="isShared">
                                            Доступен для других пользователей
                                        </label>
                                    </div>
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="row"> 
                                <div class="col">
                                    <p>
                                    <div class="custom-control custom-switch">
                                        <input class="custom-control-input" type="checkbox" id="setByDefault"
                                            name="setByDefault" value="off">
                                        <label class="custom-control-label" for="setByDefault">
                                            Использовать по умолчанию
                                        </label>
                                    </div>
                                    </p>
                                </div>
                            </div> -->
                            <input hidden type="text" id="saveSelector" name="saveSelector">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary" id="saveOrderFilter"><i
                                    class="fas fa-save"></i> Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</p>

<script src="/js/autocomplete.js"></script>
<script src="/js/order-filter.js"></script>