<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-prepend">
                    <span class="input-group-text">Быстрый поиск</span>
                  </div>
            </div>
            <input class="form-control" placeholder=" # ремонта, локальный или вендора"/>           
            <input class="form-control" placeholder="SN/IMEI устройства"/>
            <input class="form-control" placeholder="Владелец"/>
            <div class="input-group-append">
                <a class="btn btn-outline-primary" type="button" href="#">Найти</a>                
            </div>
        </div>
    </div>
</div>