<h2>Личные данные</h2>
<div class="row">
    <div class="form-group col-4">
        <label for="lastName">Фамилия<span style="color:red;">*</span></label>
        <input  type="text" class="form-control" id="lastName" name="lastName"
            value="<%= oldInput.name?.last %>">
    </div>
    <div class="form-group col-4">
        <label for="firstName">Имя<span style="color:red;">*</span></label>
        <input required type="text" class="form-control" id="firstName" name="firstName"
                value="<%= oldInput.name?.first %>">
    </div>
    <div class="form-group col-4">
        <label for="middleName">Отчество</label>
        <input type="text" class="form-control" id="middleName" name="middleName"
                value="<%= oldInput.name?.middle %>">
    </div>
</div>
<h2>Адресные данные</h2>
<div class="row">
    <div class="form-group col-4">
        <label for="city">Город</label>
        <input type="text" class="form-control" id="city" name="city"
                value="<%= oldInput.address?.city %>">
    </div>
    <div class="form-group col-4">
        <label for="street">Улица</label>
        <input type="text" class="form-control" id="street" name="street"
                value="<%= oldInput.address?.street %>">
    </div>
    <div class="form-group col-4">
        <label for="house">Дом</label>
        <input type="text" class="form-control" id="house" name="house"
                value="<%= oldInput.address?.house %>">
    </div>
</div>
<h2>Контактные данные</h2>
<div class="row">
    <div class="form-group col-4">
        <label for="phone">Телефон<span style="color:red;">*</span></label>
        <div class="input-group mb-3">
            <input required type="tel" pattern="^((8|\+7)[\- ]?)(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" class="form-control" id="phone" name="phone"
                    value="<%= oldInput.contacts?.phone %>">
            <div class="input-group-append">
                <div class="input-group-text">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="emptyPhone" name="emptyPhone">
                        <label class="form-check-label" for="emptyPhone">
                            не указан
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email"
                value="<%= oldInput.contacts?.email %>">
    </div>
</div>                
<div class="custom-control custom-switch">
    <input class="custom-control-input" type="checkbox" id="silentMode" name="silentMode">
    <label class="custom-control-label" for="silentMode">
        Отключить все оповещения
    </label>
</div>

<script src="/js/emptyPhone.js"></script>